<div>

  <!-- SIMPLE SEARCH -->
  <div data-ng-show="!isAdvancedSearch">
    <form class="form-inline search-form" name="assetlibrarySearchForm" data-ng-submit="search()">
      <label for="assetlibrary-search" class="sr-only">Search Asset Library</label>
      <div class="input-group search-container">
        <input type="text" id="assetlibrary-search" class="form-control" placeholder="Search" data-ng-model="keywords">
        <button class="btn btn-link search-advanced" title="Advanced search" data-ng-click="showAdvancedView()" type="button">
          <i class="fa fa-caret-down">
            <span class="sr-only">Advanced search</span>
          </i>
        </button>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" title="Search">
            <i class="fa fa-search">
              <span class="sr-only">Search</span>
            </i>
          </button>
        </span>
      </div>
    </form>
  </div>

  <!-- ADVANCED SEARCH -->
  <div data-ng-show="isAdvancedSearch" class="col-pane">
    <form name="assetlibrarySearchAdvancedForm" class="form-horizontal search-advancedform" data-ng-submit="search()" novalidate>
      <!-- SEARCH -->
      <div class="form-group">
        <label for="assetlibrary-search-keywords" class="col-sm-1 control-label">Search</label>
        <div class="col-sm-11">
          <input type="text" id="assetlibrary-search-keywords" data-ng-model="keywords" name="assetlibrarySearchKeywords" class="form-control" placeholder="Keyword" data-ng-maxlength="255">
        </div>
      </div>

      <!-- FILTER BY -->
      <div class="search-filters">
        <div class="form-group">
          <label for="assetlibrary-search-category" class="col-sm-1 control-label">Filter by</label>
          <div class="col-sm-6">
            <select id="assetlibrary-search-category" class="form-control"
              data-ng-model="category"
              data-value="{{category}}"
              data-ng-options="category.id as category.title for category in categories">

              <option value="" selected>Category</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select id="assetlibrary-search-type" class="form-control"
              data-ng-model="type"
              data-value="{{type}}">

              <option value="" selected>Asset type</option>
              <option value="file">File</option>
              <option value="link">Link</option>
              <option value="whiteboard">Whiteboard</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-1"></div>
          <div class="col-sm-6">
            <select id="assetlibrary-search-user" class="form-control"
              data-ng-model="user"
              data-value="{{user}}"
              data-ng-options="user.id as user.canvas_full_name for user in users">

              <option value="" selected>User</option>
            </select>
          </div>
          <div class="col-sm-4" data-ng-show="sections.length">
            <select id="assetlibrary-search-section" class="form-control"
              data-ng-model="section"
              data-value="{{section}}"
              data-ng-options="section as section for section in sections">

              <option value="" selected>Section</option>
            </select>
          </div>
        </div>
      </div>

      <!-- SORT BY -->
      <div class="form-group">
        <label for="assetlibrary-sort-by" class="col-sm-1 control-label">Sort by</label>
        <div class="col-sm-4">
          <select id="assetlibrary-sort-by" class="form-control" data-ng-model="sort" data-value="{{sort}}">
            <option value="" selected>Most recent</option>
            <option value="likes">Most likes</option>
            <option value="views">Most views</option>
            <option value="comments">Most comments</option>
            <option value="pins">Pinned</option>
            <option value="impact" data-ng-if="me.course.dashboard_url">Most impactful</option>
            <option value="trending" data-ng-if="me.course.dashboard_url">Trending</option>
          </select>
        </div>
      </div>

      <!-- BUTTONS -->
      <div class="form-group text-right">
        <div class="col-sm-offset-1 col-sm-11">
          <a class="btn btn-default" data-ng-click="showSimpleView()">Cancel</a>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
