.DS_STORE
*.log
logs/*.log

apache/suitec.conf

config/*
!config/default.json
!config/production.json
!config/schema.sql
!config/test.js
!config/travis.js

node_modules/*
!node_modules/col-*

# Localhost Amazon S3
s3-bucket-*

public/lib

public/app/canvas-customization.js

target

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
