<div>
  <h3>Activity Connections</h3>
  <table>
    <tr>
      <th></th>
      <th data-ng-bind="user.canvas_full_name"></th>
      <th data-ng-bind="selectedUser.canvas_full_name"></th>
    </th>
    <tr data-ng-repeat="(interactionType, enabled) in interactionTypesEnabled" data-ng-if="enabled">
      <td data-ng-bind="interactionType"></td>
      <td>
        x
        <i class="fa fa-long-arrow-right"></i>
      </td>
      <td>
        <i class="fa fa-long-arrow-left"></i>
        y
      </td>
    </tr>
  </table>
  <div>
    <button type="button" class="btn btn-link" data-ng-click="switchUser(selectedUser)">
      View <span data-ng-bind="selectedUser.canvas_full_name"></span>'s profile
    </button>
  </div>
  <div>
    Last activity: July 14, 1789
  </div>
</div>
