<div class="profile-activity-breakdown-wrapper">
  <div class="profile-activity-breakdown-bar-chart profile-activity-breakdown-label" data-ng-bind="breakdownLabel"></div>
  <div class="profile-activity-breakdown">
    <div data-ng-if="segments.length"
         data-ng-repeat="segment in segments"
         class="profile-activity-breakdown-bar-chart profile-activity-breakdown-segment"
         data-ng-class="segment.cssClass"
         data-ng-style="{'flex': (segment.percentage || 0.2)}"
         data-content-template="activityBreakdownPopoverTemplate"
         data-placement="top"
         data-trigger="hover"
         data-container=".profile-activity-breakdown"
         bs-popover>
      <div class="profile-activity-breakdown-segment-text" data-ng-bind="segment.displayName"></div>
     </div>
     <div data-ng-if="!segments.length" class="profile-activity-breakdown-bar-chart profile-activity-breakdown-segment profile-activity-breakdown-empty">
       <div class="profile-activity-breakdown-segment-text">
         Currently no <span data-ng-bind="breakdownSelected"></span>
       </div>
     </div>
  </div>
</div>

<script type="text/ng-template" id="activityBreakdownPopoverTemplate">
  <div class="profile-activity-breakdown-popover-outer">
    <h4 class="profile-activity-breakdown-header">
    	<span data-ng-bind="segment.displayName"></span>
    </h4>
    <div data-ng-switch="segment.displayName" class="profile-activity-breakdown-popover-details">
      <div data-ng-switch-when="Views">
         <span data-ng-if="breakdownSelected === 'contributions'">Viewed asset.</span>
         <span data-ng-if="breakdownSelected === 'impacts'">Receiving a view.</span>
      </div>
      <div data-ng-switch-when="Likes">
         <span data-ng-if="breakdownSelected === 'contributions'">Reacted to asset.</span>
         <span data-ng-if="breakdownSelected === 'impacts'">Receiving a reaction.</span>
      </div>
      <div data-ng-switch-when="Comments">
        <span data-ng-if="breakdownSelected === 'contributions'">Commented on asset or replied to asset comment.</span>
        <span data-ng-if="breakdownSelected === 'impacts'">Receiving a comment or reply on a comment.</span>
      </div>
      <div data-ng-switch-when="Posts">
        <span data-ng-if="breakdownSelected === 'contributions'">Posted to discussion.</span>
      </div>
      <div data-ng-switch-when="Replies">
        <span data-ng-if="breakdownSelected === 'impacts'">Receive a reply in discussion thread.</span>
      </div>
      <div data-ng-switch-when="Pins">
        <span data-ng-if="breakdownSelected === 'contributions'">Pinned asset.</span>
        <span data-ng-if="breakdownSelected === 'impacts'">Receiving a pin.</span>
      </div>
      <div data-ng-switch-when="Add Assets">
        <span data-ng-if="breakdownSelected === 'contributions'">Add asset or add asset to whiteboard.</span>
      </div>
      <div data-ng-switch-when="Asset Usage">
        <span data-ng-if="breakdownSelected === 'impacts'">Asset used in a whiteboard.</span>
      </div>
      <div data-ng-switch-when="Exports">
        <span data-ng-if="breakdownSelected === 'contributions'">Export whiteboard.</span>
      </div>
      <div data-ng-switch-when="Remixes">
        <span data-ng-if="breakdownSelected === 'contributions'">Remix whiteboard.</span>
        <span data-ng-if="breakdownSelected === 'impacts'">Whiteboard remixed.</span>
      </div>
    </div>
    <hr>
    <div class="profile-activity-breakdown-popover-details">
      <span data-ng-bind="singleUser ? 'You\'ve' : 'Others'"></span>
      <span data-ng-switch="segment.displayName">
        <span data-ng-switch-when="Views">
          <span data-ng-pluralize count="segment.count" when="{'one': 'viewed 1 time', 'other': 'viewed {} times'}" data-ng-if="breakdownSelected === 'contributions'"></span>
          <span data-ng-pluralize count="segment.count" when="{'one': 'received 1 view', 'other': 'received {} views'}" data-ng-if="breakdownSelected === 'impacts'"></span>
        </span>
        <span data-ng-switch-when="Likes">
          <span data-ng-pluralize count="segment.count" when="{'one': 'liked 1 time', 'other': 'liked {} times'}" data-ng-if="breakdownSelected === 'contributions'"></span>
          <span data-ng-pluralize count="segment.count" when="{'one': 'received 1 like', 'other': 'received {} likes'}" data-ng-if="breakdownSelected === 'impacts'"></span>
        </span>
        <span data-ng-switch-when="Comments">
          <span data-ng-pluralize count="segment.count" when="{'one': 'commented 1 time', 'other': 'commented {} times'}" data-ng-if="breakdownSelected === 'contributions'"></span>
          <span data-ng-pluralize count="segment.count" when="{'one': 'received 1 comment', 'other': 'received {} comments'}" data-ng-if="breakdownSelected === 'impacts'"></span>
        </span>
        <span data-ng-switch-when="Posts">
          <span data-ng-pluralize count="segment.count" when="{'one': 'posted 1 time', 'other': 'posted {} times'}" data-ng-if="breakdownSelected === 'contributions'"></span>
        </span>
        <span data-ng-switch-when="Replies">
          <span data-ng-pluralize count="segment.count" when="{'one': 'received 1 reply', 'other': 'received {} replies'}" data-ng-if="breakdownSelected === 'impacts'"></span>
        </span>
        <span data-ng-switch-when="Pins">
          <span data-ng-pluralize count="segment.count" when="{'one': 'pinned 1 time', 'other': 'pinned {} times'}" data-ng-if="breakdownSelected === 'contributions'"></span>
          <span data-ng-pluralize count="segment.count" when="{'one': 'received 1 pin', 'other': 'received {} pins'}" data-ng-if="breakdownSelected === 'impacts'"></span>
        </span>
        <span data-ng-switch-when="Add Assets">
          <span data-ng-pluralize count="segment.count" when="{'one': 'added 1 asset', 'other': 'added {} assets'}" data-ng-if="breakdownSelected === 'contributions'"></span>
        </span>
        <span data-ng-switch-when="Asset Usage">
          <span data-ng-pluralize count="segment.count" when="{'one': 'had assets used 1 times', 'other': 'had assets used {} times'}" data-ng-if="breakdownSelected === 'impacts'"></span>
        </span>
        <span data-ng-switch-when="Exports">
          <span data-ng-pluralize count="segment.count" when="{'one': 'exported 1 whiteboard', 'other': 'exported {} whiteboards'}" data-ng-if="breakdownSelected === 'contributions'"></span>
        </span>
        <span data-ng-switch-when="Remixes">
          <span data-ng-pluralize count="segment.count" when="{'one': 'remixed 1 whiteboard', 'other': 'remixed {} whiteboards'}" data-ng-if="breakdownSelected === 'contributions'"></span>
          <span data-ng-pluralize count="segment.count" when="{'one': 'had whiteboards remixed 1 time', 'other': 'had whiteboards remixed {} times'}" data-ng-if="breakdownSelected === 'impacts'"></span>
        </span>
      </span>
      (<strong>{{segment.percentage}}%</strong> of {{singleUser ? 'your' : 'their'}} total {{breakdownSelected}}.)
    </div>
  </div>
</script>
