<div class="profile-container">
  <div data-ng-include="'/app/shared/notifications.html'"></div>
  <div class="other-users-container">
    <div class="other-users-search">
      <span data-ng-if="browse.otherUsers.length">
        <label for="findUser" class="sr-only">Search for users</label>
        <oi-select id="find-user"
          class="cleanMode"
          name="findUser"
          autofocus
          oi-options="user.id as user.canvas_full_name for user in browse.otherUsers track by user.id | orderBy: canvas_full_name.toLowerCase()"
          oi-select-options="{
            dropdownFilter: 'userProfileSearchDropdown',
            maxlength: 70
          }"
          ng-model="browse.searchedUserId"
          placeholder="Search for other people"
          tabindex="-1"></oi-select>
      </span>
    </div>
    <div class="other-users-pagination">
      <div data-ng-if="browse.previous">
        <i data-ng-click="loadProfileById(browse.previous.id, false, true)" class="fa fa-caret-left"></i>
      </div>
      <div>
        <button type="button"
                class="btn btn-link other-users-browse"
                data-ng-click="loadProfileById(browse.previous.id, false, true)"
                data-ng-if="browse.previous">
          <span data-ng-bind="browse.previous.canvas_full_name"></span>
        </button>
      </div>
      <div data-ng-if="browse.previous && browse.next">|</div>
      <div>
        <button type="button"
                class="btn btn-link other-users-browse"
                data-ng-click="loadProfileById(browse.next.id, false, true)"
                data-ng-if="browse.next">
          <span data-ng-bind="browse.next.canvas_full_name"></span>
        </button>
      </div>
      <div data-ng-if="browse.next">
        <i data-ng-click="loadProfileById(browse.next.id, false, true)" class="fa fa-caret-right" ></i>
      </div>
    </div>
  </div>
  <div class="profile-summary-container">
    <div class="profile-summary-column">
      <img class="profile-summary-avatar" data-ng-src="{{user.canvas_image}}" data-ng-if="user.canvas_image"/>
      <div class="profile-engagement-avatar-caption">
        <a id="edit-profile"
          data-ng-href="/profile/edit"
          data-ng-if="isMyProfile">
          Edit Profile
        </a>
      </div>
    </div>
    <div id="about-user" class="profile-summary-column-variable">
      <h1 class="profile-summary-header" data-ng-bind="user.canvas_full_name"></h1>
      <div data-ng-include="'/app/dashboard/lookingForCollaborators.html'"></div>
      <div>
        <span data-ng-repeat="section in user.canvasCourseSections"><span data-ng-if="user.canvasCourseSections.length > 1"><span data-ng-if="!$first && !$last">, </span><span data-ng-if="$last"> and </span></span>{{section}}</span>
      </div>
      <div class="profile-summary-last-activity">
        Last activity:
        <span data-ng-if="user.last_activity">{{user.last_activity | formatDate}}</span>
        <span data-ng-if="!user.last_activity">Never</span>
      </div>
      <div class="profile-user-description"
           data-ng-bind-html="user.personal_bio | linky:'_blank' | toolHrefHashtag:referringState('about-user'):'dashboard':user.id"
           data-ng-if="user.personal_bio"></div>
    </div>
    <div class="profile-summary-column-with-border" data-ng-if="showEngagementIndexBox">
      <div class="profile-summary-column-square">
        <div class="profile-summary-column-square-content">
          <h2>
            <a tool-href
               data-tool="engagementindex"
               data-referring-tool="dashboard">
              Engagement Index
            </a>
          </h2>
          <hr/>
          <div class="profile-engagement-score" data-ng-class="{'profile-engagement-score-not-shared': isMyProfile && !user.share_points}">
            {{user.points}} {{user.points === 1 ? 'Point' : 'Points'}}
          </div>
          <div data-ng-if="userRank">
            <span data-ng-bind="userRank"></span> out of <span data-ng-bind="leaderboardCount"></span>
          </div>
          <div data-ng-if="isMyProfile && !user.share_points">
            Sharing off.
            <a tool-href
               data-tool="engagementindex"
               data-referring-tool="dashboard">Turn on?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ACTIVITY TIMELINE -->
  <div data-ng-if="user.activity">
    <h3 class="profile-section-header">Activity Timeline</h3>
    <div class="profile-subheader-explanatory">Your individual actions and others' responses to your actions over time.</div>

    <!-- LEGEND (SMALL SCREEN) -->
    <div class="profile-activity-timeline-legend-small hidden-sm hidden-md hidden-lg">
      <div class="profile-activity-timeline-legend-label profile-activity-timeline-legend-label-small">Contributions</div>
      <div class="profile-activity-timeline-legend-bar"
           data-ng-style="{'background-color': color.ACTIVITY_TIMELINE_BLUE}"></div>
      <div class="profile-activity-timeline-legend-label profile-activity-timeline-legend-label-small">Impacts</div>
      <div class="profile-activity-timeline-legend-bar"
           data-ng-style="{'background-color': color.ACTIVITY_TIMELINE_RED}"></div>
    </div>

    <div class="col-flex">
      <!-- LEGEND (LARGE SCREEN) -->
      <div class="profile-activity-timeline-legend hidden-xs">
        <div class="profile-activity-timeline-legend-row">
          <div class="profile-activity-timeline-legend-label">
            Contributions
            <div class="profile-activity-timeline-legend-label-explanation">Activities you do</div>
          </div>
          <div class="profile-activity-timeline-legend-bar"
               data-ng-style="{'background-color': color.ACTIVITY_TIMELINE_BLUE}"></div>
        </div>
        <div class="profile-activity-timeline-legend-row">
          <div class="profile-activity-timeline-legend-label">
            Impacts
            <div class="profile-activity-timeline-legend-label-explanation">Others responding to your activities</div>
          </div>
          <div class="profile-activity-timeline-legend-bar"
               data-ng-style="{'background-color': color.ACTIVITY_TIMELINE_RED}"></div>
        </div>
      </div>

      <!-- CHART -->
      <div class="activity-timeline"
           data-activity-timeline="user.activity"
           data-labels-width="120"
           data-label-details-template="/app/dashboard/activityTimelineLabelDetails.html"
           data-page-context="pageContext"
           data-timeline-id="timeline-user-activity"></div>
    </div>
  </div>

  <div class="profile-activity-breakdown-container">
    <div class="profile-filters profile-section-header">
      <div>
        <h3>Total Activities:</h3>
      </div>
      <div class="profile-filter" data-ng-repeat="(filter, label) in {contributions: 'Contributions', impacts: 'Impacts'}">
        <span class="profile-filter-selected"
              data-ng-bind="label"
              data-ng-if="breakdown.selected === filter"></span>
        <button type="button"
                id="total-activities-by-{{filter}}"
                class="btn btn-link profile-filter"
                data-ng-click="toggleBreakdown(filter)"
                data-ng-bind="label"
                data-ng-if="breakdown.selected !== filter"></button>
        <span class="profile-filter-delimiter" data-ng-if="!$last">|</span>
      </div>
    </div>

    <div data-ng-if="breakdown.selected === 'contributions'">
      <div class="profile-subheader-explanatory">All of your actions compared with the actions of others</div>

      <div data-activity-breakdown="breakdown.contributions.counts.user"
           data-activity-total="breakdown.contributions.totals.user"
           data-breakdown-label="isMyProfile ? 'My Contributions' : user.canvas_full_name + '\'s Contributions'"
           data-breakdown-selected="contributions"
           data-user="isMyProfile ? 'me' : user.canvas_full_name"></div>

      <div data-activity-breakdown="breakdown.contributions.counts.course"
           data-activity-total="breakdown.contributions.totals.course"
           data-breakdown-label="'Compared to Everyone'"
           data-breakdown-selected="contributions"
           data-user-count="userCount"></div>
    </div>

    <div data-ng-if="breakdown.selected === 'impacts'">
      <div class="profile-subheader-explanatory">Actions received on your contributions compared with actions received by others</div>

      <div data-activity-breakdown="breakdown.impacts.counts.user"
           data-activity-total="breakdown.impacts.totals.user"
           data-breakdown-label="isMyProfile ? 'My Impacts' : user.canvas_full_name + '\'s Impacts'"
           data-breakdown-selected="impacts"
           data-user="isMyProfile ? 'me' : user.canvas_full_name"></div>

      <div data-activity-breakdown="breakdown.impacts.counts.course"
           data-activity-total="breakdown.impacts.totals.course"
           data-breakdown-label="'Compared to Everyone'"
           data-breakdown-selected="impacts"
           data-user-count="userCount"></div>
    </div>
  </div>

  <div data-ng-class="{'profile-assets-container': user.totalAssetsInCourse, 'profile-assets-container-tall': !user.totalAssetsInCourse}">
    <div class="profile-filters">
      <div>
        <h3>{{isMyProfile ? 'My Assets' : 'Assets'}}{{user.totalAssetsInCourse || user.hasPins ? ':' : ''}}</h3>
      </div>
      <div class="profile-filter"
           data-ng-repeat="(filter, label) in user.assets.filterLabels"
           data-ng-if="user.totalAssetsInCourse || user.hasPins">
        <span class="profile-filter-selected"
              data-ng-bind="label"
              data-ng-if="user.assets.sortBy === filter"></span>
        <button type="button"
                id="user-assets-by-{{filter}}"
                class="btn btn-link profile-filter"
                data-ng-click="sortUserAssets(filter, true, noOp)"
                data-ng-bind="label"
                data-ng-if="user.assets.sortBy !== filter"></button>
        <span data-ng-if="(user.assets.sortBy === filter) && (user.assets.total > maxPerSwimlane)">({{maxPerSwimlane}} of
          <a tool-href
             data-tool="assetlibrary"
             data-id="user.assets.advancedSearchId"
             data-referring-tool="dashboard"
             data-referring-id="user.id"
             data-referring-state="referringState('user-assets')"
             data-ng-bind="user.assets.total"></a>)
        </span>
        <span class="profile-filter-delimiter" data-ng-if="!$last">|</span>
      </div>
    </div>

    <div id="user-assets" class="profile-list-compact col-list-container">
      <div class="help-block alert alert-info" data-ng-if="(!user.totalAssetsInCourse && !user.hasPins) || !user.assets.results.length">
        No matching assets were found.
      </div>
      <ul>
        <!-- UPLOAD / ADD LINK -->
        <li class="list-inline col-xs-6 col-sm-4 col-md-3" data-ng-if="isMyProfile && !user.totalAssetsInCourse && (user.assets.sortBy === 'recent')">
          <div class="col-list-item-container col-list-add-tile">
            <div class="col-list-item-tile">
              <div class="assetlibrary-list-item-add-container">
                <div class="assetlibrary-list-item-add-table">
                  <a tool-href
                     class="text-center col-pane"
                     data-tool="assetlibrary"
                     data-id="routerStateUploadAsset"
                     data-referring-tool="dashboard"
                     data-referring-id="user.id"
                     data-referring-state="referringState('user-assets')">
                    <i class="fa fa-laptop"></i>
                    <div class="assetlibrary-list-item-add-action">Upload</div>
                  </a>
                  <a tool-href
                     class="text-center col-pane"
                     data-tool="assetlibrary"
                     data-id="routerStateAddLink"
                     data-referring-tool="dashboard"
                     data-referring-id="user.id"
                     data-referring-state="referringState('user-assets')">
                    <i class="fa fa-link"></i>
                    <div class="assetlibrary-list-item-add-action">Add Link</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-list-item-actions">
              <a tool-href
                 class="text-center col-pane"
                 data-tool="assetlibrary"
                 data-id="routerStateBookmarkletInfo"
                 data-referring-tool="dashboard"
                 data-referring-id="user.id"
                 data-referring-state="referringState('user-assets')">
                Add assets more easily
                <i class="fa fa-bookmark pull-left"></i>
              </a>
            </div>
          </div>
        </li>

        <li class="profile-list-compact assetlibrary-list-item list-inline col-xs-6 col-sm-4 col-md-3"
            data-ng-repeat="asset in user.assets.results">
          <div class="col-list-item-container">
            <a tool-href
               data-tool="assetlibrary"
               data-id="asset.id"
               data-referring-tool="dashboard"
               data-referring-id="user.id"
               data-referring-state="referringState('user-assets')">
              <div data-ng-include="'/app/shared/assetThumbnail.html'"></div>
            </a>
            <div class="text-right col-list-item-actions" iconbar asset="asset" show-pin="true" viewonly="true"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="profile-assets-container" data-ng-if="isMyProfile">
    <div class="profile-filters">
      <div>
        <h3>Everyone's Assets{{community.totalAssetsInCourse ? ':' : ''}}</h3>
      </div>
      <div class="profile-filter"
           data-ng-repeat="(filter, label) in community.assets.filterLabels"
           data-ng-if="community.totalAssetsInCourse">
        <span class="profile-filter-selected"
              data-ng-bind="label"
              data-ng-if="community.assets.sortBy === filter"></span>
        <button type="button"
                id="community-assets-by-{{filter}}"
                class="btn btn-link profile-filter"
                data-ng-click="sortCommunityAssets(filter, true, noOp)"
                data-ng-bind="label"
                data-ng-if="community.assets.sortBy !== filter"></button>
        <span data-ng-if="(community.assets.sortBy === filter) && (community.assets.total > maxPerSwimlane)">({{maxPerSwimlane}} of
          <a tool-href
             data-tool="assetlibrary"
             data-id="community.assets.advancedSearchId"
             data-referring-tool="dashboard"
             data-referring-id="user.id"
             data-referring-state="referringState('community-assets')"
             data-ng-bind="community.assets.total"></a>)
        </span>
        <span class="profile-filter-delimiter" data-ng-if="!$last">|</span>
      </div>
    </div>

    <div id="community-assets" class="profile-list-compact col-list-container">
      <div class="help-block alert alert-info" data-ng-if="!community.totalAssetsInCourse || !community.assets.results.length">
        No matching assets were found.
      </div>
      <ul>
        <li class="profile-list-compact assetlibrary-list-item list-inline col-xs-6 col-sm-4 col-md-3"
            data-ng-repeat="asset in community.assets.results">
          <div class="col-list-item-container">
            <a tool-href
               data-tool="assetlibrary"
               data-id="asset.id"
               data-referring-tool="dashboard"
               data-referring-id="user.id"
               data-referring-state="referringState('community-assets')">
              <div data-ng-include="'/app/shared/assetThumbnail.html'"></div>
            </a>
          </div>
          <div class="text-right col-list-item-actions" iconbar asset="asset" show-pin="true" viewonly="true"></div>
        </li>
      </ul>
    </div>
  </div>

  <div data-ng-include="'/app/shared/copyright.html'"></div>
</div>
