<div class="profile-container">
  <div class="profile-summary-container">
    <div class="profile-summary-column">
      <img class="profile-summary-avatar" data-ng-src="{{user.canvas_image}}" data-ng-if="user.canvas_image"/>
      <div class="profile-engagement-avatar-caption">
        <a data-ng-href="/profile/edit" data-ng-if="isMyProfile">
          Edit Profile
        </a>
      </div>
    </div>
    <div class="profile-summary-column-variable">
      <div class="profile-summary-banner">
        <h1 class="profile-summary-header" data-ng-bind="user.canvas_full_name"></h1>
        <label for="findUser" class="sr-only">Search for users</label>
        <oi-select name="findUser" class="profile-summary-search cleanMode"
          autofocus
          oi-options="user.id as user.canvas_full_name for user in otherUsers track by user.id | orderBy: canvas_full_name.toLowerCase()"
          oi-select-options="{
            dropdownFilter: 'userProfileSearchDropdown',
            maxlength: 70
          }"
          ng-model="nextUserId"
          placeholder="Search for other people"
          tabindex="-1"></oi-select>
      </div>
      <div>
        <span data-ng-repeat="section in user.canvasCourseSections"><span data-ng-if="user.canvasCourseSections.length > 1"><span data-ng-if="!$first && !$last">, </span><span data-ng-if="$last"> and </span></span>{{section}}</span>
      </div>
      <div class="profile-summary-last-activity">
        Last activity:
        <span data-ng-if="user.last_activity">{{user.last_activity | formatDate}}</span>
        <span data-ng-if="!user.last_activity">Never</span>
      </div>
      <div class="profile-user-description" data-ng-if="user.personal_bio" data-ng-bind-html="user.personal_bio | linky:'_blank' | toolHrefHashtag:'dashboard':user.id"></div>
    </div>
    <div class="profile-summary-column-with-border" data-ng-if="showEngagementIndexBox">
      <div class="profile-summary-column-square">
        <div class="profile-summary-column-square-content">
          <h2>
            <a tool-href
              data-tool="engagementindex"
              data-referring-tool="dashboard">
              Engagement Index
            </a>
          </h2>
          <hr/>
          <div class="profile-engagement-score" data-ng-class="{'profile-engagement-score-not-shared': isMyProfile && !user.share_points}">
            {{user.points}} {{user.points === 1 ? 'Point' : 'Points'}}
          </div>
          <div data-ng-if="userRank">
            <span data-ng-bind="userRank"></span> out of <span data-ng-bind="courseUserCount"></span>
          </div>
          <div data-ng-if="isMyProfile && !user.share_points">
            Sharing off.
            <a tool-href
              data-tool="engagementindex"
              data-referring-tool="dashboard">Turn on?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ACTIVITY TIMELINE -->
  <div data-ng-if="user.activity">
    <h3 class="profile-activity-timeline-header" data-ng-bind="isMyProfile ? 'My Activity' : 'Activity'"></h3>

    <!-- LEGEND (SMALL SCREEN) -->
    <div class="profile-activity-timeline-legend-small hidden-sm hidden-md hidden-lg">
      <div class="profile-activity-timeline-legend-label">{{isMyProfile ? 'My Contributions' : 'Contributions'}}</div>
      <div class="profile-activity-timeline-legend-bar"
           data-ng-style="{'background-color': color.ACTIVITY_TIMELINE_BLUE}"></div>
      <div class="profile-activity-timeline-legend-label">{{isMyProfile ? 'My Impacts' : 'Impacts'}}</div>
      <div class="profile-activity-timeline-legend-bar"
           data-ng-style="{'background-color': color.ACTIVITY_TIMELINE_RED}"></div>
    </div>

    <div class="col-flex">
      <!-- LEGEND (LARGE SCREEN) -->
      <div class="profile-activity-timeline-legend hidden-xs">
        <div class="profile-activity-timeline-legend-row">
          <div class="profile-activity-timeline-legend-label">{{isMyProfile ? 'My Contributions' : 'Contributions'}}</div>
          <div class="profile-activity-timeline-legend-bar"
               data-ng-style="{'background-color': color.ACTIVITY_TIMELINE_BLUE}"></div>
        </div>
        <div class="profile-activity-timeline-legend-row">
          <div class="profile-activity-timeline-legend-label">{{isMyProfile ? 'My Impacts' : 'Impacts'}}</div>
          <div class="profile-activity-timeline-legend-bar"
               data-ng-style="{'background-color': color.ACTIVITY_TIMELINE_RED}"></div>
        </div>
      </div>

      <!-- CHART -->
      <div class="activity-timeline"
           data-activity-timeline="user.activity"
           data-labels-width="120"
           data-page-context="pageContext"
           data-timeline-id="timeline-user-activity"></div>
    </div>
  </div>

  <div class="profile-activity-breakdown-container">
    <h3>
      Total Activities:
      <a href data-ng-click="breakdown.selected='contributions'" data-ng-if="breakdown.selected !== 'contributions'">Contributions</a>
      <span data-ng-if="breakdown.selected === 'contributions'">Contributions</span>
      |
      <a href data-ng-click="breakdown.selected='impacts'" data-ng-if="breakdown.selected !== 'impacts'">Impacts</a>
      <span data-ng-if="breakdown.selected === 'impacts'">Impacts</span>
    </h3>

    <div data-ng-if="breakdown.selected === 'contributions'">
      <h4 class="profile-activity-breakdown-header" data-ng-if="isMyProfile">My Contributions</h4>
      <h4 class="profile-activity-breakdown-header" data-ng-if="!isMyProfile">{{user.canvas_full_name}}'s Contributions</h4>
      <div data-activity-breakdown="breakdown.contributions.counts.user"
           data-activity-total="breakdown.contributions.totals.user"
           data-breakdown-selected="contributions"></div>

      <h4 class="profile-activity-breakdown-header">Community Contributions</h4>
      <div data-activity-breakdown="breakdown.contributions.counts.course"
           data-activity-total="breakdown.contributions.totals.course"
           data-breakdown-selected="contributions"></div>
    </div>

    <div data-ng-if="breakdown.selected === 'impacts'">
      <h4 class="profile-activity-breakdown-header" data-ng-if="isMyProfile">My Impacts</h4>
      <h4 class="profile-activity-breakdown-header" data-ng-if="!isMyProfile">{{user.canvas_full_name}}'s Impacts</h4>
      <div data-activity-breakdown="breakdown.impacts.counts.user"
           data-activity-total="breakdown.impacts.totals.user"
           data-breakdown-selected="impacts"></div>

      <h4 class="profile-activity-breakdown-header">Community Impacts</h4>
      <div data-activity-breakdown="breakdown.impacts.counts.course"
           data-activity-total="breakdown.impacts.totals.course"
           data-breakdown-selected="impacts"></div>
    </div>
  </div>

  <div class="profile-assets-container">
    <h3>
      <span data-ng-if="!user.totalAssetsInCourse">{{isMyProfile ? 'My Assets' : 'Assets'}}</span>

      <div class="profile-swimlane-filters" data-ng-if="user.totalAssetsInCourse">
        <span data-ng-bind="isMyProfile ? 'My Assets:' : 'Assets:'"></span>

        <span data-ng-repeat="(filter, label) in user.assets.filterLabels">
          <a href data-ng-click="sortUserAssets(filter)" data-ng-if="user.assets.sortBy !== filter"><span data-ng-bind="label"></span></a>
          <span data-ng-if="user.assets.sortBy === filter" data-ng-bind="label"></span>
          <span data-ng-if="!$last">|</span>
        </span>
      </div>
      <span data-ng-if="user.assets.total > maxPerSwimlane">({{maxPerSwimlane}} of
        <a tool-href
          data-tool="assetlibrary"
          data-referring-tool="dashboard"
          data-referring-id="user.id"
          data-id="user.assets.advancedSearchId"
          data-ng-bind="user.assets.total"></a>)
      </span>
    </h3>

    <div class="col-list-container">
      <div class="alert alert-info assetlibrary-list-noresults"
        data-ng-if="!user.assets.isLoading && (!user.totalAssetsInCourse || !user.assets.results.length)">

        No matching assets were found.
      </div>
      <ul>
        <!-- UPLOAD / ADD LINK -->
        <li class="list-inline col-xs-6 col-sm-4 col-md-3" data-ng-if="isMyProfile && !user.totalAssetsInCourse">
          <div class="col-list-item-container col-list-add-tile">
            <div class="col-list-item-tile">
              <div class="assetlibrary-list-item-add-container">
                <div class="assetlibrary-list-item-add-table">
                  <a class="text-center col-pane"
                    tool-href
                    data-tool="assetlibrary"
                    data-referring-tool="dashboard"
                    data-referring-id="user.id"
                    data-id="routerStateUploadAsset">
                    <i class="fa fa-laptop"></i>
                    <div class="assetlibrary-list-item-add-action">Upload</div>
                  </a>
                  <a class="text-center col-pane"
                    tool-href
                    data-tool="assetlibrary"
                    data-referring-tool="dashboard"
                    data-referring-id="user.id"
                    data-id="routerStateAddLink">
                    <i class="fa fa-link"></i>
                    <div class="assetlibrary-list-item-add-action">Add Link</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-list-item-actions">
              <a class="text-center col-pane"
                tool-href
                data-tool="assetlibrary"
                data-referring-tool="dashboard"
                data-referring-id="user.id"
                data-id="routerStateBookmarkletInfo">
                Add assets more easily
                <i class="fa fa-bookmark pull-left"></i>
              </a>
            </div>
          </div>
        </li>

        <li class="assetlibrary-list-item list-inline col-xs-6 col-sm-4 col-md-3" data-ng-repeat="asset in user.assets.results">
          <a tool-href
            data-tool="assetlibrary"
            data-referring-tool="dashboard"
            data-referring-id="user.id"
            data-id="asset.id">

            <div class="col-list-item-container">
              <div class="col-list-item-tile">
                <img class="img-responsive" data-ng-src="{{asset.thumbnail_url}}" data-ng-if="asset.thumbnail_url">
                <div class="text-center col-list-item-thumbnail-default" data-ng-if="!asset.thumbnail_url">
                  <i class="fa" data-ng-class="{'fa-file': (asset.type === 'file'), 'fa-link': (asset.type === 'link'), 'fa-calendar-o': (asset.type === 'whiteboard')}"></i>
                </div>
                <div class="col-list-item-metadata">
                  <div class="col-threedots">{{asset.title}} </div>
                  <div class="col-threedots">
                    <small>by {{asset.users.length > 1 ? asset.users.length + " collaborators" : asset.users[0].canvas_full_name}}</small>
                  </div>
                </div>
              </div>
              <div class="text-right col-list-item-actions" iconbar asset="asset" viewonly="true"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="profile-assets-container" data-ng-if="isMyProfile">
    <h3>
      <span data-ng-if="!community.totalAssetsInCourse">Everyone's Assets</span>

      <div class="profile-swimlane-filters" data-ng-if="community.totalAssetsInCourse">
        Everyone's Assets:

        <span data-ng-repeat="(filter, label) in community.assets.filterLabels">
          <a href data-ng-click="sortCommunityAssets(filter)" data-ng-if="community.assets.sortBy !== filter"><span data-ng-bind="label"></span></a>
          <span data-ng-if="community.assets.sortBy === filter" data-ng-bind="label"></span>
          <span data-ng-if="!$last">|</span>
        </span>
        <span data-ng-if="community.assets.total > maxPerSwimlane">({{maxPerSwimlane}} of
          <a tool-href
            data-tool="assetlibrary"
            data-referring-tool="dashboard"
            data-referring-id="user.id"
            data-id="community.assets.advancedSearchId"
            data-ng-bind="community.assets.total"></a>)
        </span>
      </div>
    </h3>

    <div class="col-list-container">
      <div class="alert alert-info assetlibrary-list-noresults"
        data-ng-if="!community.assets.isLoading && (!community.totalAssetsInCourse || !community.assets.results.length)">

        No matching assets were found.
      </div>
      <ul>
        <li class="assetlibrary-list-item list-inline col-xs-6 col-sm-4 col-md-3" data-ng-repeat="asset in community.assets.results">
          <a tool-href
            data-tool="assetlibrary"
            data-referring-tool="dashboard"
            data-referring-id="user.id"
            data-id="asset.id">

            <div class="col-list-item-container">
              <div class="col-list-item-tile">
                <img class="img-responsive" data-ng-src="{{asset.thumbnail_url}}" data-ng-if="asset.thumbnail_url">
                <div class="text-center col-list-item-thumbnail-default" data-ng-if="!asset.thumbnail_url">
                  <i class="fa" data-ng-class="{'fa-file': (asset.type === 'file'), 'fa-link': (asset.type === 'link'), 'fa-calendar-o': (asset.type === 'whiteboard')}"></i>
                </div>
                <div class="col-list-item-metadata">
                  <div class="col-threedots">{{asset.title}} </div>
                  <div class="col-threedots">
                    <small>by {{asset.users.length > 1 ? asset.users.length + " collaborators" : asset.users[0].canvas_full_name}}</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right col-list-item-actions" iconbar asset="asset" viewonly="true"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div data-ng-include="'/app/shared/copyright.html'"></div>
</div>
