/**
 * Copyright ©2017. The Regents of the University of California (Regents). All Rights Reserved.
 *
 * Permission to use, copy, modify, and distribute this software and its documentation
 * for educational, research, and not-for-profit purposes, without fee and without a
 * signed licensing agreement, is hereby granted, provided that the above copyright
 * notice, this paragraph and the following two paragraphs appear in all copies,
 * modifications, and distributions.
 *
 * Contact The Office of Technology Licensing, UC Berkeley, 2150 Shattuck Avenue,
 * Suite 510, Berkeley, CA 94720-1620, (510) 643-7201, otl@berkeley.edu,
 * http://ipira.berkeley.edu/industry-info for commercial licensing opportunities.
 *
 * IN NO EVENT SHALL REGENTS BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL,
 * INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF
 * THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF REGENTS HAS BEEN ADVISED
 * OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * REGENTS SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE
 * SOFTWARE AND ACCOMPANYING DOCUMENTATION, IF ANY, PROVIDED HEREUNDER IS PROVIDED
 * "AS IS". REGENTS HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES,
 * ENHANCEMENTS, OR MODIFICATIONS.
 */

.other-users-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  vertical-align: top;
}

.other-users-container .other-users-browse {
  line-height: 1.1;
  padding: 0 5px 0 5px;
  vertical-align: text-top;
}

.other-users-container button:focus {
  border: 0;
  outline: none;
}

.other-users-search {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  width: 300px;
}

.other-users-container div:last-child {
  margin-left: inherit;
  overflow: hidden;
  padding-right: 5px;
}

.other-users-pagination {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 5px;
}

.other-users-pagination div:first-child i {
  float: right;
  padding: 2px 0 0 10px;
}

.other-users-pagination div:last-child i {
  float: left;
  padding: 2px 15px 0 0;
}

.profile-activity-breakdown {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.profile-activity-breakdown-bar-chart {
  border: 1px solid #fff;
  box-sizing: border-box;
  font-size: 13px;
  height: 2.2em;
  margin: 0;
}

.profile-activity-breakdown-container {
  margin-bottom: 50px;
}

.profile-activity-breakdown-empty {
  background-color: #e8e8e8;
  width: 100%;
}

.profile-activity-breakdown-explanatory {
  margin-bottom: 20px;
}

.profile-activity-breakdown-header {
  font-size: 14px;
  font-weight: 600;
}

.profile-activity-breakdown-label {
  align-items: center;
  display: flex;
  flex: 0 0 150px;
  justify-content: flex-end;
  padding-right: 8px;
  text-align: right;
}

.profile-activity-breakdown-popover-details {
  font-size: 13px;
  font-weight: 300;
}

.profile-activity-breakdown-popover-divider {
  color: #999;
}

.profile-activity-breakdown-popover-outer {
  padding: 5px;
}

.profile-activity-breakdown-segment {
  line-height: 2em;
  overflow: hidden;
  padding: 0;
}

/* In conjunction with the 'nowrap' inner text element below, this pseudo-element suppresses
   text in elements too small to fit by bumping it down to a hidden second line. */
.profile-activity-breakdown-segment::before {
  content: '';
  display: inline-block;
}

.profile-activity-breakdown-segment-text {
  display: inline-block;
  margin: 0;
  padding: 0 8px;
  white-space: nowrap;
}

.profile-activity-breakdown-segment-contributions-views {
  background-color: #135470;
  color: #fff;
}

.profile-activity-breakdown-segment-contributions-likes {
  background-color: #1e7095;
  color: #fff;
}

.profile-activity-breakdown-segment-contributions-comments {
  background-color: #288ab8;
  color: #fff;
}

.profile-activity-breakdown-segment-contributions-posts {
  background-color: #4aa1ce;
  color: #fff;
}

.profile-activity-breakdown-segment-contributions-add-assets {
  background-color: #7ab6da;
  color: #000;
}

.profile-activity-breakdown-segment-contributions-exports {
  background-color: #a4cbe5;
  color: #000;
}

.profile-activity-breakdown-segment-contributions-remixes {
  background-color: #cbdff1;
  color: #000;
}

.profile-activity-breakdown-segment-impacts-views {
  background-color: #af3636;
  color: #fff;
}

.profile-activity-breakdown-segment-impacts-likes {
  background-color: #c95050;
  color: #fff;
}

.profile-activity-breakdown-segment-impacts-comments {
  background-color: #d57878;
  color: #000;
}

.profile-activity-breakdown-segment-impacts-replies {
  background-color: #e1a0a0;
  color: #000;
}

.profile-activity-breakdown-segment-impacts-asset-usage {
  background-color: #edc8c8;
  color: #000;
}

.profile-activity-breakdown-segment-impacts-remixes {
  background-color: #f9f0f0;
  color: #000;
}

.profile-activity-breakdown-wrapper {
  display: flex;
}

.profile-activity-timeline-header {
  margin: 0;
}

.profile-activity-timeline-legend {
  padding-top: 60px;
  width: 124px;
}

.profile-activity-timeline-legend-bar {
  display: table-cell;
  flex: 4px;
}

.profile-activity-timeline-legend-label {
  align-self: center;
  flex: 120px;
  font-size: 13px;
  font-weight: 600;
  padding-right: 10px;
  text-align: right;
}

.profile-activity-timeline-legend-row {
  display: flex;
  height: 120px;
  padding: 8px 0;
  width: 124px;
}

.profile-activity-timeline-legend-small {
  display: flex;
  margin: 0 0 15px 120px;
  width: 280px;
}

.profile-assets-container {
  min-height: 360px;
}

.profile-assets-container-tall {
  min-height: 420px;
}

.profile-container {
  margin-bottom: 30px;
}

.profile-edit-container {
  border-radius: 4px;
  padding-top: 20px;
}

.profile-edit-container hr {
  margin-bottom: 0;
  margin-top: 0;
}

.profile-engagement-avatar-caption {
  margin: 10px;
  text-align: center;
}

.profile-engagement-score {
  font-size: 23px;
}

.profile-engagement-score-not-shared {
  color: #666666;
}

.profile-filters {
  /* Design for mobile first. Screen-only defined by @media rule below. */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.profile-filters .btn {
  line-height: 1.3em;
  vertical-align: text-top;
}

.profile-filters button:focus {
  border: 0;
  outline: none;
}

.profile-filters div:not(:first-child) {
  padding-left: 5px;
}

.profile-filters h3 {
  margin-bottom: 0;
}

.profile-filter {
  font-size: 19px;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 0 2px;
}

.profile-filter-delimiter {
  display: none;
}

.profile-filter-selected {
  color: #000;
  cursor: default;
  font-weight: 600;
  line-height: 1.3em;
}

.profile-input-invalid {
  color: #A94442;
}

.profile-list-compact {
  margin-top: 0;
}

.profile-looking-for-collaborators-heading {
  font-weight: 600;
}

.profile-looking-for-collaborators-toggle-off {
  color: #aaa;
}

.profile-looking-for-collaborators-toggle-on {
  color: #7ed321;
}

.profile-looking-for-collaborators-wrapper {
  margin-bottom: 15px;
}

.profile-summary-avatar {
  border-radius: 50%;
  text-align: center;
  width: 100px;
}

.profile-summary-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  width: 100%;
}

.profile-summary-column {
  padding-right: 15px;
}

.profile-summary-column-square {
  position: relative;
}

.profile-summary-column-square h2 {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.profile-summary-column-square hr {
  margin-bottom: 5px;
  margin-top: 5px;
}

.profile-summary-column-square-content {
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
}

.profile-summary-column-variable {
  flex: 1;
  padding-right: 15px;
}

.profile-summary-column-with-border {
  align-self: flex-start;
  border: 1px solid lightgrey;
  border-radius: 5px;
  max-width: 180px;
  padding: 10px 10px 10px 10px;
  width: 40%;
}

.profile-summary-header {
  -webkit-flex: 1 0 100px;
  flex: 1 0 100px;
  font-size: 19px;
  margin-bottom: 15px;
  padding-right: 20px;
  padding-top: 10px;
  white-space: nowrap;
}

.profile-summary-last-activity {
  padding-bottom: 15px;
}

.profile-user-description {
  white-space: pre-wrap;
}

@media only screen and (min-width: 500px) {
  .other-users-container {
    flex-direction: row;
  }
  .other-users-container div:last-child {
    margin-left: auto;
  }
  .other-users-pagination {
    padding-top: 0;
  }
  .profile-filters {
    flex-direction: row;
  }
  .profile-filter-delimiter {
    display: inline-flex;
  }
}

i:focus {
  border: 0;
  outline: none;
}
