<div>

  <!-- SIMPLE SEARCH -->
  <div data-ng-show="!isAdvancedSearch">
    <form class="form-inline search-form" name="whiteboardsSearchForm" data-ng-submit="search()">
      <label for="whiteboards-search" class="sr-only">Search Whiteboards</label>
      <div class="input-group search-container">
        <input type="text" id="whiteboards-search" class="form-control" placeholder="Search" data-ng-model="keywords">
        <button class="btn btn-link search-advanced" title="Advanced search" type="button" data-ng-click="showAdvancedView()">
          <i class="fa fa-caret-down">
            <span class="sr-only">Advanced search</span>
          </i>
        </button>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" title="Search">
            <i class="fa fa-search">
              <span class="sr-only">Search</span>
            </i>
          </button>
        </span>
      </div>
    </div>
  </form>

  <!-- ADVANCED SEARCH -->
  <div data-ng-show="isAdvancedSearch" class="col-pane">
    <form name="whiteboardsSearchAdvancedForm" class="form-horizontal search-advancedform" data-ng-submit="search()" novalidate>
      <!-- SEARCH -->
      <div class="form-group">
        <label for="whiteboards-search-keywords" class="col-sm-1 control-label">Search</label>
        <div class="col-sm-11">
          <input type="text" id="whiteboards-search-keywords" data-ng-model="keywords" name="whiteboardsSearchKeywords" class="form-control" placeholder="Keyword" data-ng-maxlength="255">
        </div>
      </div>

      <!-- FILTER BY -->
      <div class="form-group">
        <label for="whiteboards-search-user" class="col-sm-1 control-label">Filter by</label>
        <div class="col-sm-4">
          <select id="whiteboards-search-user" class="form-control" data-ng-model="user" data-value="{{user}}" data-ng-options="user.id as user.canvas_full_name for user in users">
            <option value="" selected>Collaborator</option>
          </select>
        </div>
      </div>

      <!-- INCLUDE DELETED -->
      <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
          <input id="whiteboards-search-include-deleted" type="checkbox" class="form-checkbox" data-ng-model="includeDeleted">
          <label for="whiteboards-search-include-deleted">Include deleted whiteboards</label>
        </div>
      </div>

      <!-- BUTTONS -->
      <div class="form-group text-right">
        <div class="col-sm-offset-1 col-sm-11">
          <a class="btn btn-default" data-ng-click="showSimpleView()">Cancel</a>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
