<div data-ng-controller="AssetLibraryAddLinkController">

  <h1>Add a new link</h1>

  <form name="assetlibraryAddlinkForm" ng-submit="assetlibraryAddlinkForm.$valid && addLink()" novalidate>
    <div class="form-group">
      <label for="assetlibrary-addlink-url">URL</label>
      <input type="url" class="form-control" id="assetlibrary-addlink-url" placeholder="Enter URL" data-ng-model="link.url" required>
    </div>
    <div class="form-group">
      <label for="assetlibrary-addlink-title">Title</label>
      <input class="form-control" id="assetlibrary-addlink-title" placeholder="Enter title" data-ng-model="link.title" required>
    </div>
    <div class="form-group">
      <label for="assetlibrary-addlink-description">Description</label>
      <textarea class="form-control" id="assetlibrary-addlink-description" placeholder="Enter description" rows="3" data-ng-model="link.description"></textarea>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add link</button>
      </div>
    </div>
  </form>
</div>
