<h2>Engagement Index</h2>

<div data-ng-if="me.is_admin && (!me.course.active || me.course.reactivated)" data-ng-include="'/app/shared/syncdisabled.html'"></div>

<!-- SPLASH -->
<div data-ng-if="!me.is_admin && me.share_points === null" data-ng-include="'/app/engagementindex/leaderboard/splash.html'"></div>

<!-- USER INFO -->
<div data-ng-if="!me.is_admin && me.share_points !== null" data-ng-include="'/app/engagementindex/leaderboard/userinfo.html'"></div>

<!-- LIST -->
<div data-ng-if="me.is_admin || me.share_points !== null" data-ng-include="'/app/engagementindex/leaderboard/list.html'"></div>

<!-- SHARE -->
<div data-ng-include="'/app/engagementindex/leaderboard/share.html'"></div>

<!-- COPYRIGHT -->
<div data-ng-include="'/app/shared/copyright.html'"></div>
