<div class="leaderboard-share-container">
  <h3>Share my score</h3>
  <form data-ng-submit="saveSharePoints()">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="engagementindex-share" data-ng-model="me.new_share_points" data-ng-change="changeSharePoints()">
        Yes, I want to share my score on the Engagement Index
      </label>
    </div>
    <div role="alert" class="sr-only" aria-live="polite" data-ng-bind="sharePointsAlertMessage"></div>
    <div class="form-group" data-ng-if="me.share_points === null && !me.is_admin">
      <button type="submit" class="btn btn-primary">Continue</button>
    </div>
  </form>

  <div data-ng-if="me.is_admin">
    <h3>Notification emails</h3>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="daily-notifications-enabled" data-ng-model="course.enable_daily_notifications" data-ng-change="changeDailyNotifications()">
        Send daily emails to users with activity in the course
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="weekly-notifications-enabled" data-ng-model="course.enable_weekly_notifications" data-ng-change="changeWeeklyNotifications()">
        Send weekly activity summary emails to all users in the course
      </label>
    </div>
  </div>
</div>


