#
# AWS configuration for the SuiteC load balancer and EC2 instances.
#
packages:
  yum:
    cairo: []
    cairo-devel: []
    giflib-devel: []
    libjpeg-turbo-devel: []
    mod24_ssl: []
    postgresql94-devel: []

option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTPS:443/api/status

  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 6.11.1
    ProxyServer: apache
    NodeCommand: 'node_modules/.bin/forever -a -m 10 app.js'

  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  # Instances talk to the load balancer over HTTPS.
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/status
    Port: '443'
    Protocol: HTTPS

  # Disable the load balancer's default listener on port 80.
  aws:elbv2:listener:default:
    ListenerEnabled: 'false'

  # Enable a custom load balancer listener on port 433.
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:234923831700:certificate/46735ef4-18d4-41c3-8e5f-0fe42ee251b4

Resources:

  # Instances may download protected files from a private S3 bucket.
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-234923831700"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
