#
# Node-specific environment configuration.
#

# Bower and gulp commands run during deployment need an easy way to find the proper Node version.
container_commands:
  01_symlink_node_executable:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /usr/local/bin/node"

# NODE_ENV is set to production regardless of environment. The EB_ENVIRONMENT variable stores the current
# Elastic Beanstalk environment name.
option_settings:
  - option_name: 'NODE_ENV'
    value: 'production'
