#
# Prior to running 'npm install', download API token for private Github access.
#
commands:
  01_download_netrc:
    command: "aws s3 cp s3://suitec-config/.netrc /tmp/.netrc"

#
# The EB_ENVIRONMENT variable tells an Elastic Beanstalk environment its own name (e.g., suitec-dev).
# Download the appropriate configuration file from the suitec-config S3 bucket and store it as
# local-production.json (since all our environments are running under NODE_ENV=production).
#
container_commands:
  01_download_local_configuration:
    command: "aws s3 cp s3://suitec-config/${EB_ENVIRONMENT}.json config/local-production.json"
