#
# We now have access to the EB_ENVIRONMENT variable, which tells an Elastic Beanstalk environment its own name
# (e.g., suitec-dev). Extract the appropriate configuration file from the previously downloaded zip and pipe it
# to local-production.json (since all our environments are running under NODE_ENV=production).
#
container_commands:
  01_extract_local_configuration:
    command: "unzip -p /tmp/local_configurations.zip ${EB_ENVIRONMENT}.json > config/local-production.json"
