#
# Remove and reinstall front-end dependencies.
#
container_commands:
  01_remove_existing_dependencies:
    command: "PATH=$PATH:/usr/local/bin node_modules/.bin/bower cache clean --allow-root"
  02_install_new_dependencies:
    command: "PATH=$PATH:/usr/local/bin node_modules/.bin/bower install --allow-root"
