#
# Build front-end assets for production and copy to the Apache document root.
#
container_commands:
  01_build_front_end_assets:
    command: "PATH=$PATH:/usr/local/bin node_modules/.bin/gulp build"
  02_create_apache_root:
    command: "mkdir -p /var/www/html/suitec"
  03_copy_to_apache_root:
    command: "cp -R target/* /var/www/html/suitec"
