commands:
  create_post_dir:
    command: 'mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post'
    ignoreErrors: true
files:
  #
  # Now that Apache configuration has been overwritten (see 02_overwrite_apache_conf.config), restart Apache to
  # pick up the new configuration.
  #
  '/opt/elasticbeanstalk/hooks/appdeploy/post/01_restart_apache.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo apachectl restart
  #
  # Modify the generated CloudWatch configuration to pick up Apache logs under their correct names
  # and restart the service.
  #
  '/opt/elasticbeanstalk/hooks/appdeploy/post/02_modify_cloudwatch.sh':
    mode: '000755'
    owner: root
    group: root
    content : |
      #!/bin/bash
      sudo sed -i 's/httpd\/access.log/httpd\/access_log/' /etc/awslogs/config/beanstalklogs.conf
      sudo sed -i 's/httpd\/error.log/httpd\/error_log/' /etc/awslogs/config/beanstalklogs.conf
      sudo service awslogs restart
