/**
 * Copyright ©2016. The Regents of the University of California (Regents). All Rights Reserved.
 *
 * Permission to use, copy, modify, and distribute this software and its documentation
 * for educational, research, and not-for-profit purposes, without fee and without a
 * signed licensing agreement, is hereby granted, provided that the above copyright
 * notice, this paragraph and the following two paragraphs appear in all copies,
 * modifications, and distributions.
 *
 * Contact The Office of Technology Licensing, UC Berkeley, 2150 Shattuck Avenue,
 * Suite 510, Berkeley, CA 94720-1620, (510) 643-7201, otl@berkeley.edu,
 * http://ipira.berkeley.edu/industry-info for commercial licensing opportunities.
 *
 * IN NO EVENT SHALL REGENTS BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL,
 * INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF
 * THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF REGENTS HAS BEEN ADVISED
 * OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * REGENTS SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE
 * SOFTWARE AND ACCOMPANYING DOCUMENTATION, IF ANY, PROVIDED HEREUNDER IS PROVIDED
 * "AS IS". REGENTS HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES,
 * ENHANCEMENTS, OR MODIFICATIONS.
 */

.assetlibrary-item-top {
  margin-top: 25px;
}

/* PREVIEW */

.assetlibrary-item-preview {
  overflow-y: hidden;
}

.assetlibrary-item-preview .preview-document,
.assetlibrary-item-whiteboard-preview {
  border-bottom: 1px solid #D3D3D3;
}

.assetlibrary-item-preview .preview-document {
  height: 400px;
  width: 100%;
}


.assetlibrary-item-preview iframe {
  background-color: #FFF;
  overflow: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.assetlibrary-item-whiteboard-preview {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #FFF;
  height: 400px;
  position: relative;
  width: 100%;
}


@media only screen and (min-width : 768px) {
  .assetlibrary-item-preview {
    line-height: 400px;
    max-height: 720px;
    min-height: 400px;
  }

  .assetlibrary-item-preview .preview-image {
    padding: 5px;
  }

  .assetlibrary-item-preview iframe {
    height: 720px;
  }

  .assetlibrary-item-preview .preview-document {
    height: 720px;
  }

  .assetlibrary-item-whiteboard-preview {
    height: 720px;
  }
}

.assetlibrary-item-preview-message {
  background-color: #FFF;
  padding: 170px 0;
}

.assetlibrary-item-preview-message > i {
  color: #747474;
  font-size: 50px;
}

.assetlibrary-item-preview-message p {
  font-size: 18px;
  margin: 15px 20px 0;
}

.assetlibrary-item-preview-message a {
  margin-top: 15px;
}

.assetlibrary-item-preview-message i.fa-spinner {
  margin-right: 5px;
}

/* METADATA */

.assetlibrary-item-metadata {
  margin: 0 40px;
}

.assetlibrary-item-metadata > .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.assetlibrary-item-metadata > .row:first-child {
  border-bottom: 1px solid #E4E4E3;
}

.assetlibrary-item-metadata-column {
  padding-left: 0;
  padding-right: 0;
  word-wrap: break-word;
}

.assetlibrary-item-metadata-column .assetlibrary-item-metadata-label {
  word-wrap: normal;
}

ul.assetlibrary-item-metadata-authors {
  margin: 0;
}

ul.assetlibrary-item-metadata-authors li {
  margin: 0;
  padding: 0;
}

ul.assetlibrary-item-metadata-authors-multiple li:last-child {
  display: block;
}

ul.assetlibrary-item-metadata-authors-multiple li .assetlibrary-item-metadata-authors-name {
  padding-right: 15px;
}

.assetlibrary-item-metadata-authors-name, .assetlibrary-item-metadata-authors-on {
  color: #4172B4;
  padding: 0;
}

.assetlibrary-item-metadata-authors-text {
  line-height: 38px;
}

.assetlibrary-item-metadata .col-avatar {
  height: 38px;
  width: 38px;
}

.assetlibrary-item-metadata-icons {
  line-height: 38px;
  text-align: left;
}

@media only screen and (min-width : 768px) {
  .assetlibrary-item-metadata-icons {
    text-align: right;
  }
}

.assetlibrary-item-metadata-icons,
.assetlibrary-item-metadata-icons .btn {
  color: #747474;
  font-size: 16px;
}

.assetlibrary-item-metadata-column .row {
  padding-bottom: 10px;
}

.assetlibrary-item-metadata-label {
  font-weight: 500;
}

.assetlibrary-item-metadata-description {
  white-space: pre-wrap;
}

/* ADD COMMENT */

.assetlibrary-item-addcomment-commenter {
  margin-bottom: 5px;
}

.assetlibrary-item-addcomment-comment {
  margin-bottom: 10px;
}

/* NEW COMMENT */

.assetlibrary-item-newcomment-container {
  padding: 20px;
}

@media only screen and (min-width : 768px) {
  .assetlibrary-item-newcomment-container {
    padding-left: 70px;
  }
}

.assetlibrary-item-newcomment-form {
  max-width: 650px;
  padding-left: 10px;
}

.assetlibrary-item-newcomment-container .col-avatar {
  height: 100px;
  margin-top: 10px;
  width: 100px;
}

.assetlibrary-item-newcomment-button {
  margin-bottom: 0;
}

/* REPLY */

.assetlibrary-item-reply {
  margin-top: 25px;
}

/* COMMENTS */

.assetlibrary-item-comments {
  margin-right: 20px;
  margin-top: 40px;
  max-width: 830px;
  padding-left: 80px;
}

.assetlibrary-item-comments .assetlibrary-item-comment-level-0:not(:first-child) {
  border-top: 1px solid #EAEAEA;
  margin-top: 20px;
  padding-top: 25px;
}

.assetlibrary-item-comments .assetlibrary-item-comment-level-1 {
  margin-left: 60px;
}

@media only screen and (min-width : 768px) {
  .assetlibrary-item-comments {
    padding-left: 130px;
  }
}

.assetlibrary-item-comments small {
  color: #747474;
  font-size: 13px;
  font-weight: 300;
  margin-left: 5px;
}

.assetlibrary-item-comment-actions {
  margin-top: -2px;
}

.assetlibrary-item-comments p {
  margin-top: 10px;
  white-space: pre-wrap;
}
