<div data-ng-show="state.current.name === 'assetlibrarylist.item'">
  <a data-ng-href="/assetlibrary" class="col-back"><i class="fa fa-angle-left"></i> Back to Asset Library</a>

  <!-- TITLE -->
  <div class="row assetlibrary-item-top">
    <div class="col-xs-{{ canManageAsset() ? 8 : 12 }} col-sm-{{ canManageAsset() ? 10 : 12 }}">
      <h2>{{asset.title}}</h2>
    </div>

    <!-- EDIT DETAILS -->
    <div class="col-xs-4 col-sm-2 text-right" data-ng-show="canManageAsset()">
      <a ui-sref="assetlibrarylist.item.edit({assetId: asset.id})" class="btn btn-default">
        <i class="fa fa-pencil"></i>
        <span>Edit details</span>
      </a>
    </div>
  </div>

  <div class="col-pane">
    <!-- PREVIEW -->
    <div class="text-center assetlibrary-item-preview" data-ng-bind-html="asset.embed_code | sanitize"></div>

    <!-- METADATA -->
    <div class="assetlibrary-item-metadata">
      <div class="row">
        <div class="col-sm-9 assetlibrary-item-metadata-column">
          <div class="media-left media-top">
            <div class="assetlibrary-item-metadata-text">by</div>
          </div>
          <div class="media-body media-middle">
            <ul class="media-list list-inline assetlibrary-item-metadata" ng-class="{'assetlibrary-item-metadata-multiple-users': asset.users.length > 1}">
              <li class="media" data-ng-repeat="user in asset.users | orderBy:['canvas_full_name']">
                <div class="media-left media-middle">
                  <div class="media-object col-avatar" data-ng-style="{'background-image': 'url(' + user.canvas_image + ')'}"></div>
                </div>
                <div class="media-left media-middle assetlibrary-item-metadata-user-name">
                  <a ui-sref="assetlibrarylist({'user': user.id})" ui-sref-opts="{'inherit': false}">
                    <i class="fa fa-graduation-cap" data-ng-if="user.is_admin"></i> {{user.canvas_full_name}}
                  </a>
                  <span data-ng-if="me.id === user.id">(me)</span>
                </div>
              </li>
              <li class="media">
                <div class="media-left media-top">
                  <div class="assetlibrary-item-metadata-text">on <span class="assetlibrary-item-metadata-on-date">{{asset.created_at | date:'longDate' }}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 assetlibrary-item-metadata-column assetlibrary-item-metadata-icons">
          <div iconbar asset="asset" add-links="false"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 assetlibrary-item-metadata-column">
          <div class="row">
            <div class="col-xs-3 text-right assetlibrary-item-metadata-label">Description</div>
            <div class="col-xs-9">
              <div data-ng-if="asset.description" data-ng-bind-html="asset.description | linky:'_blank' | hashtags"></div>
              <div data-ng-if="!asset.description">No description</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 assetlibrary-item-metadata-column">
          <div class="row">
            <div class="col-xs-3 text-right assetlibrary-item-metadata-label">Category</div>
            <div class="col-xs-9">
              <div data-ng-if="asset.categories.length > 0">
                <div data-ng-repeat="category in asset.categories">
                  <a ui-sref="assetlibrarylist({'category': category.id})" ui-sref-opts="{'inherit': false}">{{category.title}}</a>
                </div>
              </div>
              <div data-ng-if="asset.categories.length === 0">No category</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 text-right assetlibrary-item-metadata-label">Source</div>
            <div class="col-xs-9">
              <div data-ng-if="asset.type !== 'whiteboard' && (asset.source || asset.url)" class="col-threedots">
                <a data-ng-href="{{asset.source || asset.url}}" target="_blank">{{asset.source || asset.url}}</a>
              </div>
              <div data-ng-if="asset.type === 'whiteboard' || (!asset.source && !asset.url)">No source</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3><ng-pluralize count="asset.comment_count" when="{'0': 'No comments', 'one': '1 comment', 'other': '{} comments'}"></ng-pluralize></h3>

  <!-- NEW COMMENT -->
  <div class="col-pane assetlibrary-item-newcomment-container">
    <div class="media">
      <div class="media-left media-top">
        <div class="media-object col-avatar" data-ng-style="{'background-image': 'url(' + me.canvas_image + ')'}">
          <span class="sr-only">{{me.canvas_full_name}}</span>
        </div>
      </div>
      <div class="media-body media-middle">
        <form name="assetlibraryNewCommentForm" class="assetlibrary-item-newcomment-form" data-ng-submit="assetlibraryNewCommentForm.$valid && createComment()" novalidate>
          <div class="assetlibrary-item-addcomment-commenter">
            <a ui-sref="assetlibrarylist({'user': me.id})" ui-sref-opts="{'inherit': false}">
              <i class="fa fa-graduation-cap" data-ng-if="me.is_admin"></i> {{me.canvas_full_name}}
            </a> (me)
          </div>
          <div class="form-group assetlibrary-item-newcomment-comment">
            <label for="assetlibrary-item-newcomment-body" class="sr-only">Comment</label>
            <textarea class="form-control msd-elastic" id="assetlibrary-item-newcomment-body" placeholder="Add a comment" rows="3" data-ng-model="newComment.body" required></textarea>
          </div>
          <div class="form-group text-right assetlibrary-item-newcomment-button">
            <button type="submit" class="btn btn-primary" data-ng-disabled="assetlibraryNewCommentForm.$invalid">
              <i class="fa fa-comment"></i>
              <span>Comment</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- COMMENTS -->
  <div class="assetlibrary-item-comments">
    <div class="media assetlibrary-item-comment assetlibrary-item-comment-level-{{comment.level}}" data-ng-repeat="comment in asset.comments">
      <div class="media-left media-top">
        <div class="media-object col-avatar" data-ng-style="{'background-image': 'url(' + comment.user.canvas_image + ')'}"></div>
      </div>
      <div class="media-body media-top">
        <div class="assetlibrary-item-addcomment-commenter">
          <a ui-sref="assetlibrarylist({'user': comment.user.id})" ui-sref-opts="{'inherit': false}">
            <i class="fa fa-graduation-cap" data-ng-if="comment.user.is_admin"></i> {{comment.user.canvas_full_name}}
            <span data-ng-if="me.id === comment.user.id">(me)</span>
          </a>
          <small>on {{comment.created_at | date:"MMMM d 'at' h:mm a" }}</small>
          <div class="pull-right col-actions assetlibrary-item-comment-actions">
            <button class="btn btn-link" title="Reply to this comment" data-ng-if="comment.level === 0" data-ng-click="toggleReplyComment(comment)">
              <i class="fa fa-reply"><span class="sr-only">Reply to this comment</span></i>
            </button>
            <button class="btn btn-link" title="Delete this comment" data-ng-if="(comment.user.id === me.id || me.is_admin) && !comment.has_replies" data-ng-click="deleteComment(comment)">
              <i class="fa fa-trash"><span class="sr-only">Delete this comment</span></i>
            </button>
            <button class="btn btn-link" title="Edit this comment" data-ng-if="comment.user.id === me.id || me.is_admin" data-ng-click="toggleEditComment(comment)">
              <i class="fa fa-pencil"><span class="sr-only">Edit this comment</span></i>
            </button>
          </div>
        </div>
        <p data-ng-if="!comment.editing" data-ng-bind-html="comment.body | linky:'_blank'"></p>
        <!-- EDIT -->
        <form name="assetlibraryEditForm" class="assetlibrary-item-edit-form" data-ng-submit="assetlibraryEditForm.$valid && editComment(comment)" data-ng-if="comment.editing" novalidate>
          <div class="form-group assetlibrary-item-addcomment-comment">
            <label for="assetlibrary-item-editcomment-body" class="sr-only">Edit</label>
            <textarea class="form-control msd-elastic" id="assetlibrary-item-editcomment-body" placeholder="Add a comment" rows="3" data-ng-model="comment.newBody" required></textarea>
          </div>
          <div class="form-group text-right">
            <button class="btn btn-sm btn-default" data-ng-click="toggleEditComment(comment)">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" data-ng-disabled="assetlibraryEditForm.$invalid">Save Changes</button>
          </div>
        </form>

        <!-- REPLY -->
        <div class="media assetlibrary-item-comment assetlibrary-item-reply" data-ng-if="comment.replying">
          <div class="media-left media-top">
            <div class="media-object col-avatar" data-ng-style="{'background-image': 'url(' + me.canvas_image + ')'}"></div>
          </div>
          <div class="media-body media-middle">
            <form name="assetlibraryReplyForm" class="assetlibrary-item-reply-form" data-ng-submit="assetlibraryReplyForm.$valid && replyComment(comment, reply)" novalidate>
              <div class="assetlibrary-item-addcomment-commenter">
                <a ui-sref="assetlibrarylist({'user': me.id})" ui-sref-opts="{'inherit': false}">
                  <i class="fa fa-graduation-cap" data-ng-if="me.is_admin"></i> {{me.canvas_full_name}}
                </a> (me)
              </div>
              <div class="form-group assetlibrary-item-addcomment-comment">
                <label for="assetlibrary-item-addcomment-body" class="sr-only">Reply</label>
                <textarea class="form-control msd-elastic" id="assetlibrary-item-addcomment-body" placeholder="Add a reply" rows="3" data-ng-model="reply" required></textarea>
              </div>
              <div class="form-group text-right">
                <button class="btn btn-sm btn-default" data-ng-click="toggleReplyComment(comment)">Cancel</button>
                <button type="submit" class="btn btn-sm btn-primary" data-ng-disabled="assetlibraryReplyForm.$invalid">
                  <i class="fa fa-reply"></i>
                  <span>Reply</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view="edit"></div>
