/**
 * Copyright ©2020. The Regents of the University of California (Regents). All Rights Reserved.
 *
 * Permission to use, copy, modify, and distribute this software and its documentation
 * for educational, research, and not-for-profit purposes, without fee and without a
 * signed licensing agreement, is hereby granted, provided that the above copyright
 * notice, this paragraph and the following two paragraphs appear in all copies,
 * modifications, and distributions.
 *
 * Contact The Office of Technology Licensing, UC Berkeley, 2150 Shattuck Avenue,
 * Suite 510, Berkeley, CA 94720-1620, (510) 643-7201, otl@berkeley.edu,
 * http://ipira.berkeley.edu/industry-info for commercial licensing opportunities.
 *
 * IN NO EVENT SHALL REGENTS BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL,
 * INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF
 * THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF REGENTS HAS BEEN ADVISED
 * OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * REGENTS SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE
 * SOFTWARE AND ACCOMPANYING DOCUMENTATION, IF ANY, PROVIDED HEREUNDER IS PROVIDED
 * "AS IS". REGENTS HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES,
 * ENHANCEMENTS, OR MODIFICATIONS.
 */

body {
  background-color: inherit;            /* Ensure that the parent page remains visible behind the iFrame */
}

/* Boostrap overrides */

.modal-backdrop {
  bottom: 0;                            /* Ensure that the backdrop stretches until the bottom of the page */
  position: fixed;                      /* Ensure that the backdrop remains visible when scrolling the parent page */
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding-top: 0;
}

.modal-footer {
  border-top: none;
  padding: 0;
}

form {
  margin-top: 10px;
}

@media only screen and (min-width : 768px) {
  form {
    margin-left: -20px;
  }
}

.radio {
  margin-bottom: 15px;
  margin-top: 5px;
}

div[data-notify="progressbar"] {
  display: none;
}

/* Bookmarklet */

.collabosphere-pane {
  margin: 0 10px 5px 0;
}

/* Overview panel */

.collabosphere-overview-options-container {
  padding: 0 15px 10px;
}

/* Select items from page */

.collabosphere-items-list {
  margin-left: 10px;
}

.collabosphere-item-container {
  padding: 10px;
}

.collabosphere-item {
  background-position: center;
  background-size: cover;
  border: 1px solid #ccc;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.collabosphere-item-container label {
  cursor: pointer;
}

.collabosphere-items-empty {
  margin-bottom: 25px;
}

.collabosphere-items-list:not(:empty) + .collabosphere-items-empty {
  display: none;
}

/* Add metadata to selected items */

.collabosphere-items-metadata-container {
  margin-top: 10px;
}

.collabosphere-items-metadata-container .collabosphere-item {
  margin-bottom: 10px;
  margin-top: 5px;
}

.collabosphere-items-metadata-column {
  padding-right: 0;
}
