<div data-ng-controller="EngagementIndexListController">
  <div>
    <form class="form-inline">
      <input type="text" placeholder="Search..." data-ng-model="query.$" data-ng-change="search(query.$)">
    </form>
    <a href="/download/activities.csv" target="_blank" class="btn btn-primary" data-ng-show="me.is_admin" data-ng-click="trackCSVDownload()">Download CSV</a>
  </div>

  <table>
    <thead>
      <tr>
        <th data-ng-click="changeSort('rank')" data-ng-class="{dropup: reverse}">Rank <span class="caret" data-ng-if="sortBy === 'rank'"></span></th>
        <th data-ng-click="changeSort('sortable_name')" data-ng-class="{dropup: reverse}">Student <span class="caret" data-ng-if="sortBy === 'sortable_name'"></span></th>
        <th data-ng-click="changeSort('share')" data-ng-class="{dropup: reverse}" data-ng-if="me.is_admin">Share <span class="caret" data-ng-if="sortBy === 'share'"></span></th>
        <th data-ng-click="changeSort('points')" data-ng-class="{dropup: reverse}">Points <span class="caret" data-ng-if="sortBy === 'points'"></span></th>
        <th data-ng-click="changeSort('last_activity_date')" data-ng-class="{dropup: reverse}">Last Point Earned <span class="caret" data-ng-if="sortBy === 'last_activity_date'"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="user in users | orderBy:sortBy:!reverse | filter:query:strict" data-ng-class="{'info': user.id === me.id}">
        <td class="col-sm-1" data-ng-bind="user.rank"></td>
        <td class="col-sm-3" data-ng-bind="user.canvas_full_name"></td>
        <td data-ng-if="me.is_admin" class="col-sm-2">
          <span data-ng-if="user.share_points">Yes</span>
          <span data-ng-if="!user.share_points">No</span>
        </td>
        <td class="col-sm-1" data-ng-bind="user.points"></td>
        <td class="col-sm-3"><span data-ng-if="user.last_activity" data-ng-bind="user.last_activity | date:'MM/dd/yyyy h:mm a'"></span></td>
      </tr>
    </tbody>
  </table>
</div>
