<!-- NOTIFICATIONS -->
<div class="alert alert-success alert-dismissible text-center" id="whiteboards-board-exported-notification" style="display: none">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  This board has been succesfully added to the <strong>Asset Library</strong>
</div>

<!-- WHITEBOARD -->
<div id="whiteboards-board-viewport">
  <canvas id="whiteboards-board-board"></canvas>
</div>

<!-- TOOLBAR -->
<div id="whiteboards-board-toolbar" class="btn-toolbar" role="toolbar" aria-label="Whiteboard Toolbar">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default active" title="Move and transform" data-ng-click="setMode('move')" data-ng-class="{'active': mode === 'move'}">
      <i class="fa fa-arrows">
        <span class="sr-only">Move and transform</span>
      </i>
    </button>
    <button type="button" class="btn btn-default" title="Text" data-ng-click="setMode('text')" data-ng-class="{'active': mode === 'text'}" data-content-template="textPopoverTemplate" data-placement="top" data-auto-close="1" bs-popover>
      <i class="fa fa-font">
        <span class="sr-only">Text</span>
      </i>
    </button>
    <button type="button" class="btn btn-default" title="Draw" data-ng-click="setMode('draw')" data-ng-class="{'active': mode === 'draw'}" data-content-template="drawPopoverTemplate" data-placement="top" data-auto-close="1" bs-popover>
      <i class="fa fa-paint-brush">
        <span class="sr-only">Draw</span>
      </i>
    </button>
    <button type="button" class="btn btn-default" title="Shape" data-ng-click="setMode('shape')" data-ng-class="{'active': mode === 'shape'}" data-content-template="shapePopoverTemplate" data-placement="top" data-auto-close="1" bs-popover>
      <i class="fa fa-square-o">
        <span class="sr-only">Shape</span>
      </i>
    </button>
    <button type="button" class="btn btn-default" title="Erase" data-ng-click="setMode('erase')"  data-ng-class="{'active': mode === 'erase'}">
      <i class="fa fa-eraser">
        <span class="sr-only">Erase</span>
      </i>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" title="Zoom in" data-ng-click="zoom(0.3)" data-ng-disabled="zoomLevel >= 2.5">
      <i class="fa fa-search-plus">
        <span class="sr-only">Zoom in</span>
      </i>
    </button>
    <button type="button" class="btn btn-default" title="Zoom out" data-ng-click="zoom(-0.3)" data-ng-disabled="zoomLevel <= 0.5">
      <i class="fa fa-search-minus">
        <span class="sr-only">Zoom out</span>
      </i>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" title="Undo" data-ng-click="undo()" data-ng-disabled="currentActionPosition === 0">
      <i class="fa fa-reply">
        <span class="sr-only">Undo</span>
      </i>
    </button>
    <button type="button" class="btn btn-default" title="Redo" data-ng-click="redo()" data-ng-disabled="currentActionPosition === actionQueue.length">
      <i class="fa fa-share">
        <span class="sr-only">Redo</span>
     </i>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" title="Add asset" data-ng-click="setMode('asset')" data-ng-class="{'active': mode === 'asset'}" data-content-template="addAssetPopoverTemplate" data-placement="top" data-auto-close="1" bs-popover>
      <i class="fa fa-plus-circle"></i>
      <span>Asset</span>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" title="Export" data-ng-click="setMode('export')" data-ng-class="{'active': mode === 'export'}" data-content-template="exportPopoverTemplate" data-placement="top" data-auto-close="1" bs-popover>
      <i class="fa fa-share-square-o"></i>
      <span>Export</span>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default whiteboards-board-toolbar-collaborators" title="Collaborators" data-ng-click="toggleSidebar('online')" data-ng-class="{'active': sidebarExpanded && sidebarMode === 'online'}">
      <i class="fa fa-user">
        <span class="sr-only">Collaborators</span>
      </i>
      <span class="badge" data-ng-bind="getOnlineUsers().length"></span>
    </button>
    <button type="button" class="btn btn-default whiteboards-board-toolbar-chat" title="Chat" data-ng-click="toggleSidebar('chat')" data-ng-class="{'active': sidebarExpanded && sidebarMode === 'chat'}">
      <i class="fa fa-comments">
        <span class="sr-only">Chat</span>
      </i>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" title="Settings" data-ng-click="editWhiteboard()">
      <i class="fa fa-cog">
        <span class="sr-only">Settings</span>
      </i>
    </button>
  </div>
</div>

<!-- DRAW POPOVER -->
<script type="text/ng-template" id="drawPopoverTemplate">
  <form class="form-horizontal whiteboards-popover-toolbar">
    <div class="form-group">
      <label class="col-sm-4 whiteboards-popover-select-label">Size</label>
      <div class="col-sm-8">
        <button type="button" class="btn btn-default whiteboards-popover-select" data-ng-model="$parent.draw.selected.lineWidth" data-html="1" bs-options="option.value as option.label for option in draw.options" bs-select></button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Color</label>
      <div class="col-sm-8">
        <div class="whiteboards-color-container" data-ng-repeat="color in colors">
          <label data-ng-style="{'background-color': color.color}">
            <input type="radio" name="whiteboards-draw-color" data-ng-value="color" data-ng-model="$parent.draw.selected.color">
            <i class="fa fa-check" data-ng-if="$parent.draw.selected.color === color"></i>
            <span class="sr-only" data-ng-bind="color.name"></span>
          </label>
        </div>
      </div>
    </div>
  </form>
</script>

<!-- SHAPE POPOVER -->
<script type="text/ng-template" id="shapePopoverTemplate">
  <form class="form-horizontal whiteboards-popover-toolbar">
    <div class="form-group">
      <label class="col-sm-4 whiteboards-popover-select-label">Shape</label>
      <div class="col-sm-8">
        <button type="button" class="btn btn-default whiteboards-popover-select" data-ng-model="$parent.shape.selected.type" data-html="1" bs-options="option as option.label for option in shape.options" bs-select></button>
      </div>
    </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Color</label>
      <div class="col-sm-8">
        <div class="whiteboards-color-container" data-ng-repeat="color in colors">
          <label data-ng-style="{'background-color': color.color}">
            <input type="radio" name="whiteboards-shape-color" data-ng-value="color" data-ng-model="$parent.shape.selected.color">
            <i class="fa fa-check" data-ng-if="$parent.shape.selected.color === color"></i>
            <span class="sr-only" data-ng-bind="color.name"></span>
          </label>
        </div>
      </div>
    </div>
  </form>
</script>

<!-- TEXT POPOVER -->
<script type="text/ng-template" id="textPopoverTemplate">
  <form class="form-horizontal whiteboards-popover-toolbar">
    <div class="form-group">
      <label class="col-sm-4 whiteboards-popover-select-label">Size</label>
      <div class="col-sm-8">
        <button type="button" class="btn btn-default whiteboards-popover-select" data-ng-model="$parent.text.selected.size" data-html="1" bs-options="option.value as option.label for option in text.options" bs-select></button>
      </div>
    </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Color</label>
      <div class="col-sm-8">
        <div class="whiteboards-color-container" data-ng-repeat="color in colors">
          <label data-ng-style="{'background-color': color.color}">
            <input type="radio" name="whiteboards-text-color" data-ng-value="color" data-ng-model="$parent.text.selected.color">
            <i class="fa fa-check" data-ng-if="$parent.text.selected.color === color"></i>
            <span class="sr-only" data-ng-bind="color.name"></span>
          </label>
        </div>
      </div>
    </div>
  </form>
</script>

<!-- ADD ASSET POPOVER -->
<script type="text/ng-template" id="addAssetPopoverTemplate">
  <ul class="whiteboards-popover-button-list whiteboards-popover-asset">
    <li class="clearfix">
      <button class="btn btn-default" data-ng-click="reuseAsset()">
        <i class="fa fa-th"></i> Use existing
      </button>
    </li>
    <li class="clearfix">
      <button class="btn btn-default" data-ng-click="uploadFiles()">
        <i class="fa fa-laptop"></i> Upload New
      </button>
    </li>
    <li class="clearfix">
      <button class="btn btn-default" data-ng-click="addLink()">
        <i class="fa fa-link"></i> Add Site
      </button>
    </li>
  </ul>
</script>

<!-- EXPORT POPOVER -->
<script type="text/ng-template" id="exportPopoverTemplate">
  <ul class="whiteboards-popover-button-list whiteboards-popover-export">
    <li class="clearfix">
      <button class="btn btn-default" data-ng-click="exportAsAsset()" data-ng-disabled="getNumberOfElements() === 0">
        <i class="fa fa-th"></i> Add to Asset Library
      </button>
    </li>
    <li class="clearfix">
      <a class="btn btn-default" data-ng-href="{{exportPngUrl}}" data-ng-click="exportAsPng()" data-ng-disabled="isExportingAsPng || getNumberOfElements() === 0">
        <span data-ng-if="isExportingAsPng"><i class="fa fa-spin fa-spinner"></i> Downloading image</span>
        <span data-ng-if="!isExportingAsPng"><i class="fa fa-download"></i> Download as image</span>
      </a>
    </li>
  </ul>
</script>

<div id="whiteboards-board-sidebar" data-ng-show="sidebarExpanded">
  <div id="whiteboards-board-chat" data-ng-show="sidebarMode === 'chat'">
    <div id="whiteboards-board-chat-messages-container" scroll-glue data-infinite-scroll="getChatMessages()" data-infinite-scroll-ready="chatList.ready" data-infinite-scroll-distance="200" data-infinite-scroll-container="whiteboards-board-chat-messages-container" data-infinite-scroll-direction="top">
      <div id="whiteboards-board-chat-messages-table">
        <div id="whiteboards-board-chat-messages">
          <div class="media" data-ng-repeat="chatMessage in chatMessages">
            <div data-ng-if="isDifferentDay(chatMessage.created_at, chatMessages[$index - 1].created_at)">
              <span class="whiteboards-board-chat-date-header">{{chatMessage.created_at | formatDate}}</span>
            </div>

            <div class="media-left media-top">
              <div class="media-object col-avatar" data-ng-style="{'background-image': 'url(' + chatMessage.user.canvas_image + ')'}"></div>
            </div>
            <div class="media-body media-top">
              <div class="whiteboards-board-chat-actor">
                <a>
                  <i class="fa fa-graduation-cap" data-ng-if="chatMessage.user.is_admin"></i> {{chatMessage.user.canvas_full_name}}
                  <span data-ng-if="me.id === chatMessage.user.id">(me)</span>
                </a>
                <small class="pull-right">{{chatMessage.created_at | date:"h:mm a" }}</small>
              </div>
              <p data-ng-bind-html="chatMessage.body | linky:'_blank'"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="whiteboards-board-chat-new">
      <form data-ng-keypress="createChatMessage($event)">
        <textarea placeholder="Hit Return to send a message" data-ng-model="newChatMessage.body"></textarea>
      </form>
    </div>
  </div>
  <div id="whiteboards-board-members" data-ng-if="sidebarMode === 'online'">
    <h3 class="whiteboard-board-members-title">Board collaborators ({{whiteboard.members.length}})</h3>
    <div class="media" data-ng-repeat="member in whiteboard.members | orderBy:['-online', 'canvas_full_name']">
      <div class="media-left media-middle">
        <div class="media-object col-avatar" data-ng-class="{'whiteboards-board-online': member.online}" data-ng-style="{'background-image': 'url(' + member.canvas_image + ')'}"></div>
      </div>
      <div class="media-body media-middle">
        <i class="fa fa-graduation-cap" data-ng-if="member.is_admin"></i> {{member.canvas_full_name}}
        <span data-ng-if="me.id === member.id">(me)</span>
      </div>
    </div>
  </div>
</div>
