<div class="assetlibrary-categories-container">

  <a data-ng-href="/assetlibrary" class="col-back"><i class="fa fa-angle-left"></i> Back to Asset Library</a>

  <h2>Manage Categories</h2>

  <p class="assetlibrary-categories-info">Categories can be used to tag items. Assignments are automatically pulled in as categories, but you can also create new categories that aren't necessarily related to assignments.</p>

  <form class="assetlibrary-categories-create-form" name="assetlibraryCreateCategoryForm" data-ng-submit="assetlibraryCreateCategoryForm.$valid && createCategory(newCategory)" novalidate>
    <div class="form-group" data-ng-class="{'has-error': !assetlibraryCreateCategoryForm.$submitted && assetlibraryCreateCategoryForm.assetlibraryCategoriesName.$touched && assetlibraryCreateCategoryForm.assetlibraryCategoriesName.$invalid}">
      <label for="assetlibrary-categories-create" class="sr-only">Enter a new category</label>
      <div class="input-group">
        <input type="text" id="assetlibrary-categories-create" name="assetlibraryCategoriesName" class="form-control" placeholder="Enter a new category" data-ng-model="newCategory" required data-ng-maxlength="255">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" data-ng-disabled="assetlibraryCreateCategoryForm.$invalid">Add</button>
        </span>
      </div>
      <div class="help-block" data-ng-messages="assetlibraryCreateCategoryForm.assetlibraryCategoriesName.$error" data-ng-show="!assetlibraryCreateCategoryForm.$submitted">
          <div data-ng-message="required">Please enter a category</div>
          <div data-ng-message="maxlength">A category can only be 255 characters long</div>
      </div>
    </div>
  </form>

  <ul class="assetlibrary-categories-list">
    <li data-ng-repeat="category in categories">
      <div class="row"  data-ng-if="!category.editing">
        <div class="col-xs-9">
          <span class="col-threedots" data-ng-bind="category.title"></span>
          <small>
            <ng-pluralize count="category.asset_count" when="{'0': 'Not used by any items', 'one': 'Used by 1 item', 'other': 'Used by {} items'}"></ng-pluralize>
          </small>
        </div>
        <div class="text-right col-xs-3 col-actions">
          <button class="btn btn-link" title="Edit this category" data-ng-click="toggleEditCategory(category)">
            <i class="fa fa-pencil"><span class="sr-only">Edit this category</span></i>
          </button>
          <button class="btn btn-link" title="Delete this category" data-ng-click="deleteCategory(category)">
            <i class="fa fa-trash"><span class="sr-only">Delete this category</span></i>
          </button>
        </div>
      </div>

      <!-- EDIT CATEGORY -->
      <form name="assetlibraryEditCategoryForm" class="assetlibrary-categories-edit-form " data-ng-submit="assetlibraryEditCategoryForm.$valid && editCategory(category)" data-ng-if="category.editing" novalidate>
        <div class="form-group" data-ng-class="{'has-error': assetlibraryEditCategoryForm.assetLibraryEditCategoryName.$invalid}">
          <label for="assetlibrary-categories-edit" class="sr-only">Edit a category</label>
          <input type="text" id="assetlibrary-categories-edit" class="form-control" name="assetLibraryEditCategoryName" placeholder="Edit a category" data-ng-model="category.newTitle" required data-ng-maxlength="255">
          <div class="help-block" data-ng-messages="assetlibraryEditCategoryForm.assetLibraryEditCategoryName.$error">
            <div data-ng-message="required">Please enter a category</div>
            <div data-ng-message="maxlength">A category can only be 255 characters long</div>
        </div>
        </div>
        <div class="text-right">
          <button class="btn btn-sm btn-default" data-ng-click="toggleEditCategory(category)">Cancel</button>
          <button type="submit" class="btn btn-sm btn-primary" data-ng-disabled="assetlibraryEditCategoryForm.$invalid">Save Changes</button>
        </div>
      </form>
    </li>
  </ul>

</div>
