/**
 * Copyright ©2016. The Regents of the University of California (Regents). All Rights Reserved.
 *
 * Permission to use, copy, modify, and distribute this software and its documentation
 * for educational, research, and not-for-profit purposes, without fee and without a
 * signed licensing agreement, is hereby granted, provided that the above copyright
 * notice, this paragraph and the following two paragraphs appear in all copies,
 * modifications, and distributions.
 *
 * Contact The Office of Technology Licensing, UC Berkeley, 2150 Shattuck Avenue,
 * Suite 510, Berkeley, CA 94720-1620, (510) 643-7201, otl@berkeley.edu,
 * http://ipira.berkeley.edu/industry-info for commercial licensing opportunities.
 *
 * IN NO EVENT SHALL REGENTS BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL,
 * INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF
 * THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF REGENTS HAS BEEN ADVISED
 * OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * REGENTS SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE
 * SOFTWARE AND ACCOMPANYING DOCUMENTATION, IF ANY, PROVIDED HEREUNDER IS PROVIDED
 * "AS IS". REGENTS HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES,
 * ENHANCEMENTS, OR MODIFICATIONS.
 */

.assetlibrary-categories-container {
  max-width: 600px;
}

.assetlibrary-categories-container h2,
.assetlibrary-categories-container h3 {
  margin-bottom: 15px;
}

.assetlibrary-categories-info {
  margin-bottom: 20px;
}

.assetlibrary-categories-create-form {
  margin-bottom: 20px;
}

.assetlibrary-categories-edit-form .form-group {
  margin-bottom: 5px;
}

.assetlibrary-categories-list {
  border: 1px solid #CCC;
  padding: 0;
}

.assetlibrary-categories-list li {
  list-style-type: none;
  padding: 10px 20px 10px 10px;
}

.assetlibrary-categories-list li:nth-child(even) {
  background-color: #F9F9F9;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.assetlibrary-categories-list li:last-child {
  border-bottom: none;
}

.assetlibrary-categories-list small {
  color: #ADABAA;
  font-weight: 400;
}

.assetlibrary-categories-list .col-actions button {
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}

.assetlibrary-categories-list .col-actions .assetlibrary-categories-assignment-checkbox {
  font-size: 18px;
  height: 18px;
  margin-top: 3px;
  width: 18px;
}
