<div class="clearfix assetlibrary-categories-container">

  <a data-ng-href="/assetlibrary" class="col-back"><i class="fa fa-angle-left"></i> Back to Asset Library</a>

  <h2>Manage Categories</h2>

  <p class="assetlibrary-categories-info">Categories can be used to tag items and are a great way of classifying items within the Asset Library. The Asset Library can also be filtered by category.</p>

  <h3>Custom Categories</h3>

  <p class="assetlibrary-categories-info">Create custom categories that can can be used to tag items:</p>

  <form class="assetlibrary-categories-create-form" name="assetlibraryCreateCategoryForm" data-ng-submit="assetlibraryCreateCategoryForm.$valid && createCategory(newCategory)" novalidate>
    <div class="form-group" data-ng-class="{'has-error': !assetlibraryCreateCategoryForm.$submitted && assetlibraryCreateCategoryForm.assetlibraryCategoriesName.$touched && assetlibraryCreateCategoryForm.assetlibraryCategoriesName.$invalid}">
      <label for="assetlibrary-categories-create-name" class="sr-only">Enter a new category</label>
      <div class="input-group">
        <input type="text" id="assetlibrary-categories-create-name" name="assetlibraryCreateCategoryName" class="form-control" placeholder="Enter a new category" data-ng-model="newCategory" data-ng-maxlength="255" required>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" data-ng-disabled="assetlibraryCreateCategoryForm.$invalid">Add</button>
        </span>
      </div>
      <div class="help-block" data-ng-messages="assetlibraryCreateCategoryForm.assetlibraryCreateCategoryName.$error">
          <div data-ng-message="required">Please enter a category</div>
          <div data-ng-message="maxlength">A category can only be 255 characters long</div>
      </div>
    </div>
  </form>

  <ul class="assetlibrary-categories-list" data-ng-show="filteredCustomCategories.length > 0">
    <li data-ng-repeat="category in filteredCustomCategories = (categories | filter: {canvas_assignment_id: '!'})">
      <div class="row"  data-ng-if="!category.editing">
        <div class="col-xs-9">
          <span class="col-threedots" data-ng-bind="category.title"></span>
          <small>
            <ng-pluralize count="category.asset_count" when="{'0': 'Not used by any items', 'one': 'Used by 1 item', 'other': 'Used by {} items'}"></ng-pluralize>
          </small>
        </div>
        <div class="text-right col-xs-3 col-actions">
          <button class="btn btn-link" title="Edit this category" data-ng-click="toggleEditCategory(category)">
            <i class="fa fa-pencil"><span class="sr-only">Edit this category</span></i>
          </button>
          <button class="btn btn-link" title="Delete this category" data-ng-click="deleteCategory(category)">
            <i class="fa fa-trash"><span class="sr-only">Delete this category</span></i>
          </button>
        </div>
      </div>

      <!-- EDIT CATEGORY -->
      <form name="assetlibraryEditCategoryForm" class="assetlibrary-categories-edit-form " data-ng-submit="assetlibraryEditCategoryForm.$valid && editCategory(category)" data-ng-if="category.editing" novalidate>
        <div class="form-group" data-ng-class="{'has-error': assetlibraryEditCategoryForm.assetLibraryEditCategoryName.$invalid}">
          <label for="assetlibrary-categories-edit-name" class="sr-only">Edit a category</label>
          <input type="text" id="assetlibrary-categories-edit-name" class="form-control" name="assetLibraryEditCategoryName" placeholder="Edit a category" data-ng-model="category.newTitle" data-ng-maxlength="255" required>
          <div class="help-block" data-ng-messages="assetlibraryEditCategoryForm.assetLibraryEditCategoryName.$error">
            <div data-ng-message="required">Please enter a category</div>
            <div data-ng-message="maxlength">A category can only be 255 characters long</div>
        </div>
        </div>
        <div class="text-right">
          <button class="btn btn-sm btn-default" data-ng-click="toggleEditCategory(category)">Cancel</button>
          <button type="submit" class="btn btn-sm btn-primary" data-ng-disabled="assetlibraryEditCategoryForm.$invalid">Save Changes</button>
        </div>
      </form>
    </li>
  </ul>
  <div class="alert alert-info" data-ng-if="filteredCustomCategories.length === 0">
    There are no custom categories.
  </div>

  <h3>Assignments</h3>

  <p class="assetlibrary-categories-info">You can also choose to automatically sync the assignment submissions for certain assignments to the Asset Library. In this case, all student assignment submissions for these assignments will appear in the Asset Library for review and commenting by all students.</p>

  <ul class="assetlibrary-categories-list" data-ng-show="filteredAssignmentCategories.length > 0">
    <li data-ng-repeat="category in filteredAssignmentCategories = (categories | filter: {canvas_assignment_id: ''})">
      <div class="row"  data-ng-if="!category.editing">
        <div class="col-xs-9">
          <span class="col-threedots" data-ng-bind="category.title"></span>
          <small>
            <ng-pluralize count="category.asset_count" when="{'0': 'No submissions', 'one': '1 submission', 'other': '{} submissions'}"></ng-pluralize>
          </small>
        </div>
        <div class="text-right col-xs-3 col-actions">
          <div class="checkbox">
            <label>
              <input type="checkbox" class="assetlibrary-categories-assignment-checkbox" title="Synchronize this assignment" data-ng-model="category.visible" data-ng-change="editAssignmentCategory(category)">
              <span class="sr-only">Synchronize this assignment</span>
            </label>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="alert alert-info" data-ng-if="filteredAssignmentCategories.length === 0">
    There are no assignments.
  </div>

</div>
