<div data-ng-show="state.current.name === 'assetlibrarylist'">
  <a class="col-back"
    tool-href
    data-tool="dashboard"
    data-referring-tool="assetlibrary"
    data-id="referringTool.referringId"
    data-ng-if="referringTool.name === 'dashboard'"><i class="fa fa-angle-left"></i> Back to Impact Studio</a>

  <div data-ng-if="me.is_admin && (!me.course.active || me.course.reactivated)" data-ng-include="'/app/shared/syncdisabled.html'"></div>

  <div class="row assetlibrary-list-top">
    <!-- SEARCH -->
    <search
      data-is-advanced-search="isAdvancedSearch"
      data-search-options-keywords="searchOptions.keywords"
      data-search-options-category="searchOptions.category"
      data-search-options-user="searchOptions.user"
      data-search-options-section="searchOptions.section"
      data-search-options-type="searchOptions.type"
      data-search-options-sort="searchOptions.sort"
      class="assetlibrary-list-search-container col-xs-{{ isAdvancedSearch ? 12 : 8 }}"></search>

    <!-- MANAGE ASSETS -->
    <div class="col-xs-4 text-right" data-ng-show="!isAdvancedSearch">
      <a data-ng-href="/assetlibrary/manage" data-ng-if="me.is_admin" class="btn btn-default">
        <i class="fa fa-cog"></i>
        <span>Manage assets</span>
      </a>
    </div>
  </div>

  <div class="sr-only" role="alert" aria-live="polite" data-ng-bind="resultsMessage"></div>

  <div class="col-list-container" data-infinite-scroll="getAssets()" data-infinite-scroll-ready="list.ready" data-infinite-scroll-distance="400" data-infinite-scroll-container="window">
    <ul>
      <!-- UPLOAD / ADD LINK -->
      <li class="list-inline col-xs-6 col-sm-4 col-md-3" data-ng-if="!isSearch">
        <div class="col-list-item-container col-list-add-tile">
          <div class="col-list-item-tile">
            <div class="assetlibrary-list-item-add-container">
              <div class="assetlibrary-list-item-add-table">
                <a data-ng-href="/assetlibrary/upload" class="text-center col-pane">
                  <i class="fa fa-laptop"></i>
                  <div class="assetlibrary-list-item-add-action">Upload</div>
                </a>
                <a data-ng-href="/assetlibrary/addlink" class="text-center col-pane">
                  <i class="fa fa-link"></i>
                  <div class="assetlibrary-list-item-add-action">Add Link</div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-list-item-actions">
            <a data-ng-href="/assetlibrary/addbookmarklet" class="assetlibrary-list-bookmarklet">
              Add assets more easily
              <i class="fa fa-bookmark pull-left"></i>
            </a>
          </div>
        </div>
      </li>
      <!-- LIST ITEM -->
      <li class="assetlibrary-list-item list-inline col-xs-6 col-sm-4 col-md-3" data-ng-repeat="asset in assets | unique:'id'">
        <a ui-sref="assetlibrarylist.item({assetId: asset.id})">
          <div data-ng-if="asset.badged">
            <div class="assetlibrary-list-top-asset-overlay">
              <i class="fa fa-bookmark assetlibrary-list-top-asset-ribbon"></i>
            </div>
            <div class="assetlibrary-list-top-asset-overlay">
              <div class="assetlibrary-list-top-asset-label">TOP ASSET</div>
              <i class="fa fa-star assetlibrary-list-top-asset-star"></i>
            </div>
          </div>
          <div class="col-list-item-container">
            <div class="col-list-item-tile">
              <img class="img-responsive" data-ng-src="{{asset.thumbnail_url}}" data-ng-if="asset.thumbnail_url">
              <div class="text-center col-list-item-thumbnail-default" data-ng-if="!asset.thumbnail_url">
                <i class="fa" data-ng-class="{'fa-file': (asset.type === 'file'), 'fa-link': (asset.type === 'link'), 'fa-calendar-o': (asset.type === 'whiteboard')}"></i>
              </div>
              <div class="col-list-item-metadata">
                <div class="col-threedots">{{asset.title}} </div>
                <div class="col-threedots">
                  <small>by {{asset.users.length > 1 ? asset.users.length + " collaborators" : asset.users[0].canvas_full_name}}</small>
                </div>
              </div>
            </div>
            <div class="text-right col-list-item-actions" iconbar asset="asset" show-pin="true" viewonly="true"></div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="alert alert-info assetlibrary-list-noresults" data-ng-if="isSearch && assets.length === 0">
    No matching assets were found.
  </div>
  <!-- COPYRIGHT -->
  <div data-ng-include="'/app/shared/copyright.html'"></div>
</div>

<div ui-view></div>
