<div data-ng-show="state.current.name === 'assetlibrarylist'">
  <a tool-href
     class="col-back"
     data-tool="dashboard"
     data-id="crossToolRequest.referringId"
     data-state="crossToolRequest.referringState"
     data-referring-tool="assetlibrary"
     data-ng-if="crossToolRequest.referringTool === 'dashboard'"><i class="fa fa-angle-left"></i> Back to Impact Studio</a>

  <div data-ng-if="me.is_admin && (!me.course.active || me.course.reactivated)" data-ng-include="'/app/shared/syncdisabled.html'"></div>

  <div class="row assetlibrary-list-top">
    <!-- SEARCH -->
    <search
      data-is-advanced-search="isAdvancedSearch"
      data-search-options-keywords="searchOptions.keywords"
      data-search-options-category="searchOptions.category"
      data-search-options-user="searchOptions.user"
      data-search-options-section="searchOptions.section"
      data-search-options-type="searchOptions.type"
      data-search-options-sort="searchOptions.sort"
      class="assetlibrary-list-search-container col-xs-{{ isAdvancedSearch ? 12 : 8 }}"></search>

    <!-- MANAGE ASSETS -->
    <div class="col-xs-4 text-right" data-ng-show="!isAdvancedSearch">
      <a data-ng-href="/assetlibrary/manage" data-ng-if="me.is_admin" class="btn btn-default">
        <i class="fa fa-cog"></i>
        <span>Manage assets</span>
      </a>
    </div>
  </div>

  <div class="sr-only" role="alert" aria-live="polite" data-ng-bind="resultsMessage"></div>

  <div class="col-list-container" data-infinite-scroll="getAssets()" data-infinite-scroll-ready="list.ready" data-infinite-scroll-distance="400" data-infinite-scroll-container="window">
    <ul>
      <!-- UPLOAD / ADD LINK -->
      <li class="list-inline col-xs-6 col-sm-4 col-md-3" data-ng-if="!isSearch">
        <div class="col-list-item-container col-list-add-tile">
          <div class="col-list-item-tile">
            <div class="assetlibrary-list-item-add-container">
              <div class="assetlibrary-list-item-add-table">
                <a data-ng-href="/assetlibrary/upload" class="text-center col-pane">
                  <i class="fa fa-laptop"></i>
                  <div class="assetlibrary-list-item-add-action">Upload</div>
                </a>
                <a data-ng-href="/assetlibrary/addlink" class="text-center col-pane">
                  <i class="fa fa-link"></i>
                  <div class="assetlibrary-list-item-add-action">Add Link</div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-list-item-actions">
            <a data-ng-href="/assetlibrary/addbookmarklet" class="assetlibrary-list-bookmarklet">
              Add assets more easily
              <i class="fa fa-bookmark pull-left"></i>
            </a>
          </div>
        </div>
      </li>
      <!-- LIST ITEM -->
      <li class="assetlibrary-list-item list-inline col-xs-6 col-sm-4 col-md-3" data-ng-repeat="asset in assets | unique:'id'">
        <div class="col-list-item-container">
          <a ui-sref="assetlibrarylist.item({assetId: asset.id})">
            <div data-ng-include="'/app/shared/assetThumbnail.html'"></div>
          </a>
          <div class="text-right col-list-item-actions" iconbar asset="asset" show-pin="true" viewonly="true"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="alert alert-info assetlibrary-list-noresults" data-ng-if="!isLoading && isSearch && assets.length === 0">
    No matching assets were found.
  </div>
  <!-- COPYRIGHT -->
  <div data-ng-include="'/app/shared/copyright.html'"></div>
</div>

<div ui-view></div>
