<div data-ng-controller="AssetLibraryListController">

  <div class="row assetlibrary-list-top">
    <!-- SEARCH -->
    <div class="assetlibrary-list-search-container col-xs-{{ searchIsAdvancedView ? 12 : 8 }}" data-ng-include="'/app/assetlibrary/search/search.html'"></div>

    <!-- MANAGE CATEGORIES -->
    <div class="col-xs-4 text-right" data-ng-show="!searchIsAdvancedView">
      <a data-ng-href="/assetlibrary/categories" data-ng-if="me.is_admin" class="btn btn-default">
        <i class="fa fa-cog"></i>
        <span>Manage categories</span>
      </a>
    </div>
  </div>

  <div class="col-list-container" data-infinite-scroll="getAssets()" data-infinite-scroll-disabled="list.isLoading" data-infinite-scroll-distance="1">
    <ul>
      <!-- UPLOAD / ADD LINK -->
      <li class="list-inline col-xs-6 col-sm-4 col-md-3">
        <div class="col-list-item-container col-list-add-tile">
          <div class="col-list-item-tile">
            <div class="assetlibrary-list-item-add-container">
              <div class="assetlibrary-list-item-add-table">
                <a data-ng-href="/assetlibrary/upload" class="text-center col-pane">
                  <i class="fa fa-laptop"></i>
                  <div class="assetlibrary-list-item-add-action">Upload</div>
                </a>
                <a data-ng-href="/assetlibrary/addlink" class="text-center col-pane">
                  <i class="fa fa-link "></i>
                  <div class="assetlibrary-list-item-add-action">Add Site</div>
                </a>
                <!-- <a data-ng-href="/assetlibrary/addthought" class="text-center col-pane">
                  <i class="fa fa-comment"></i>
                  <div class="assetlibrary-list-item-add-action">Add a thought</div>
                </a> -->
              </div>
            </div>
          </div>
          <div class="col-list-item-actions">
            <a data-ng-href="/assetlibrary/addbookmarklet">Add assets from anywhere</a>
          </div>
        </div>
      </li>
      <!-- LIST ITEM -->
      <li class="list-inline col-xs-6 col-sm-4 col-md-3" data-ng-repeat="asset in assets">
        <div class="col-list-item-container">
          <a data-ng-href="/assetlibrary/{{asset.id}}">
            <div class="col-list-item-tile">
              <img class="img-responsive" data-ng-src="{{asset.thumbnail_url}}" data-ng-if="asset.thumbnail_url">
              <div class="text-center col-list-item-thumbnail-default" data-ng-if="!asset.thumbnail_url">
                <i class="fa fa-{{ asset.type }}"></i>
              </div>
              <div class="col-list-item-metadata">
                <h3 class="col-threedots">{{asset.title}}</h3>
                <small class="col-threedots">by {{asset.user.canvas_full_name}}</small>
              </div>
            </div>
          </a>
          <div class="text-right col-list-item-actions" iconbar asset="asset"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
