.activity-timeline {
  flex: 1;
  margin-bottom: 75px;
}

.activity-timeline .btn-link {
  border: 0;
  padding: 0 2px;
  vertical-align: bottom;
}

.activity-timeline .btn-link-disabled {
  color: #777;
  cursor: default;
}

.activity-timeline-chart {
  flex: 1;
}

.activity-timeline-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.activity-timeline-label {
  font-size: 13px;
  font-weight: 300;
}

.activity-timeline-label-hoverable {
  cursor: pointer;
  fill: #4172b4;
}

.chart-wrapper {
  cursor: pointer; /* fallback if grab cursor is unsupported */
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.details-popover {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  left: none;
  max-width: 480px;
  outline: 0;
  padding: 10px;
  position: absolute;
  width: 480px;
}

.details-popover::after {
  background: #fff;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 0;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
  z-index: 1;
}

.details-popover-activity-assetlibrary {
  height: 120px;
}

.details-popover-activity-assetlibrary::after {
  top: 114px;
}

.details-popover-activity-dashboard {
  height: 142px;
}

.details-popover-activity-dashboard::after {
  top: 136px;
}

.details-popover-label {
  height: 90px;
}

.details-popover-label::after {
  top: 84px;
}

.details-popover.left::after {
  left: 15px;
}

.details-popover.right::after {
  right: 15px;
}

.details-popover .details-popover-avatar {
  background: #fff;
  border: 1px solid #c2c8d0;
  border-radius: 100%;
  overflow: hidden;
}

.details-popover .details-popover-avatar img {
  height: 100%;
  width: 100%;
}

.details-popover .details-popover-avatar-large {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 15px;
  width: 100px;
}

.details-popover .details-popover-avatar-small {
  height: 50px;
  left: 65px;
  position: absolute;
  top: 65px;
  width: 50px;
}

.details-popover .details-popover-comment {
  font-style: italic;
}

.details-popover .details-popover-container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
}

.details-popover .details-popover-description {
  color: #777;
  font-size: 13px;
}

.details-popover .details-popover-strong {
  font-size: 14px;
  font-weight: 600;
}

.details-popover .details-popover-thumbnail {
  border: 1px solid #c2c8d0;
  height: 100px;
  margin: 1px 25px 15px 1px;
  width: 100px;
}

.details-popover .details-popover-thumbnail-default {
  align-items: center;
  background-color: #E8E8E8;
  display: flex;
  justify-content: center;
}

.details-popover .details-popover-thumbnail-default i {
  color: #ADABAA;
  font-size: 50px;
}

.details-popover .details-popover-timestamp {
  color: #777;
  font-size: 12px;
}

.details-popover .details-popover-title {
  font-size: 15px;
  margin-bottom: 10px;
}
