.activity-timeline {
  flex: 1;
  margin-bottom: 75px;
}

.activity-timeline .btn-link {
  padding: 0;
}

.activity-timeline .btn-link-disabled {
  color: #777;
  cursor: default;
}

.activity-timeline-chart {
  flex: 1;
}

.activity-timeline-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.activity-timeline-label {
  font-size: 13px;
  font-weight: 300;
}

.chart-wrapper {
  cursor: pointer; /* fallback if grab cursor is unsupported */
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.event-details {
  background: #fff;
  border: 3px solid #e7e7e7;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  width: 480px;
}

.event-details::before {
  background: #fff;
  border: 3px solid #e7e7e7;
  border-width: 3px 0 0 3px;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  top: -8px;
  transform: rotate(45deg);
  width: 10px;
  z-index: 1;
}

.event-details.left::before {
  left: 15px;
}

.event-details.right::before {
  right: 15px;
}

.event-details .event-details-avatar {
  background: #fff;
  border: 1px solid #c2c8d0;
  border-radius: 100%;
  overflow: hidden;
}

.event-details .event-details-avatar img {
  height: 100%;
  width: 100%;
}

.event-details .event-details-avatar-large {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 15px;
  width: 100px;
}

.event-details .event-details-avatar-small {
  height: 50px;
  left: 65px;
  position: absolute;
  top: 65px;
  width: 50px;
}

.event-details .event-details-comment {
  font-style: italic;
}

.event-details .event-details-container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
}

.event-details .event-details-description {
  color: #777;
  font-size: 13px;
}

.event-details .event-details-strong {
  font-size: 14px;
  font-weight: 600;
}

.event-details .event-details-thumbnail {
  border: 1px solid #c2c8d0;
  height: 100px;
  margin: 1px 25px 15px 1px;
  width: 100px;
}

.event-details .event-details-timestamp {
  font-size: 12px;
  color: #777;
}

.event-details .event-details-title {
  font-size: 15px;
  margin-bottom: 10px;
}
