<div class="event-details-container">
  <div data-ng-if="pageContext.tool === 'dashboard'">
    <img class="event-details-thumbnail"
         data-ng-src="{{activity.asset.thumbnail_url}}"
         alt="{{activity.asset.title}}"
         title="{{activity.asset.title}}"
         data-ng-if="activity.asset.thumbnail_url"/>
    <div class="event-details-thumbnail event-details-thumbnail-default" data-ng-if="!activity.asset.thumbnail_url">
      <i class="fa fa-file"></i>
    </div>
    <div class="event-details-avatar event-details-avatar-small">
      <img data-ng-src="{{activity.user.canvas_image}}"
           alt="{{activity.user.canvas_full_name}}"
           title="{{activity.user.canvas_full_name}}"/>
    </div>
  </div>
  <div class="event-details-avatar event-details-avatar-large" data-ng-if="pageContext.tool === 'assetlibrary'">
    <img data-ng-src="{{activity.user.canvas_image}}"
         alt="{{activity.user.canvas_full_name}}"
         title="{{activity.user.canvas_full_name}}"/>
  </div>

  <div>
    <h3 class="event-details-title" data-ng-if="pageContext.tool === 'dashboard'">
      <a tool-href
         data-tool="assetlibrary"
         data-id="activity.asset.id"
         data-referring-tool="pageContext.tool"
         data-referring-id="pageContext.id"
         data-ng-bind="display.title"></a>
    </h3>

    <p class="event-details-description">
      <a tool-href
         data-tool="dashboard"
         data-id="activity.user.id"
         data-referring-tool="pageContext.tool"
         data-referring-id="pageContext.id"
         class="event-details-strong"
         data-ng-bind="activity.user.canvas_full_name"></a>
      <span data-ng-switch="activity.type">
        <span data-ng-switch-when="add_asset">added this asset.</span>
        <span data-ng-switch-when="asset_comment">commented on this asset, </span>
        <span data-ng-switch-when="discussion_entry">posted to a discussion.</span>
        <span data-ng-switch-when="discussion_topic">posted to a discussion.</span>
        <span data-ng-switch-when="export_whiteboard">exported a whiteboard.</span>
        <span data-ng-switch-when="get_asset_comment">commented on this asset, </span>
        <span data-ng-switch-when="get_asset_comment_reply">commented on this asset, </span>
        <span data-ng-switch-when="get_discussion_entry_reply">posted to a discussion.</span>
        <span data-ng-switch-when="get_like">liked this asset.</span>
        <span data-ng-switch-when="get_pin_asset">pinned this asset.</span>
        <span data-ng-switch-when="get_remix_whiteboard">remixed this asset in a whiteboard.</span>
        <span data-ng-switch-when="get_repin_asset">pinned this asset.</span>
        <span data-ng-switch-when="get_view_asset">viewed this asset.</span>
        <span data-ng-switch-when="get_whiteboard_add_asset">used this asset in a whiteboard.</span>
        <span data-ng-switch-when="like">liked this asset.</span>
        <span data-ng-switch-when="pin_asset">pinned this asset.</span>
        <span data-ng-switch-when="remix_whiteboard">remixed this asset in a whiteboard.</span>
        <span data-ng-switch-when="repin_asset">pinned this asset.</span>
        <span data-ng-switch-when="view_asset">viewed this asset.</span>
        <span data-ng-switch-when="whiteboard_add_asset">used this asset in a whiteboard.</span>
      </span>

      <span data-ng-if="display.comment">
        <span data-ng-if="!display.snippet"
              class="event-details-comment"
              data-ng-bind-template="&ldquo;{{activity.comment.body}}&rdquo;"></span>
        <span data-ng-if="display.snippet">
          <span class="event-details-comment"
                data-ng-bind-template="&ldquo;{{display.snippet}}&hellip;&rdquo;"></span>
          <a tool-href
             data-tool="assetlibrary"
             data-id="activity.asset.id"
             data-referring-tool="pageContext.tool"
             data-referring-id="pageContext.id"
             data-ng-if="pageContext.tool === 'dashboard'">Read more &raquo;</a>
        </span>
      </span>
    </p>

    <p class="event-details-timestamp">
      <span data-ng-bind="display.date"></span>
    </p>
  </div>
</div>
