<div class="col-flex">
  <div class="activity-timeline-chart" data-ng-attr-id="{{timelineId}}"></div>
</div>
<div class="activity-timeline-footer" data-ng-style="{'padding-left': (10 + labelsWidth + 'px')}">
  <div>
    <button type="button" data-ng-click="zoomRelative(2)">+</button>
    <button type="button"
            data-ng-click="zoomRelative(0.5)"
            data-ng-disabled="zoomScale === 1">-</button>
  </div>
  <div>
    <strong>View by:</strong>
    <button type="button" class="btn btn-link"
            data-ng-class="{'btn-link-disabled': currentZoomPreset === 'week'}"
            data-ng-disabled="currentZoomPreset === 'week'"
            data-ng-click="zoomPreset('week')">Week</button> |
    <button type="button" class="btn btn-link"
            data-ng-class="{'btn-link-disabled': currentZoomPreset === 'month'}"
            data-ng-disabled="currentZoomPreset === 'month'"
            data-ng-click="zoomPreset('month')">Month</button>
    <span data-ng-if="zoomAllEnabled">|</span>
    <button type="button" class="btn btn-link"
            data-ng-class="{'btn-link-disabled': currentZoomPreset === 'all'}"
            data-ng-disabled="currentZoomPreset === 'all'"
            data-ng-click="zoomPreset('all')"
            data-ng-if="zoomAllEnabled">All</button>
  </div>
</div>
