<div class="assetlibrary-iconbar" data-ng-controller="AssetLibraryIconBarController">
  <!-- LIKES -->
  <button class="btn btn-link" data-ng-class="{'active': asset.liked}" data-ng-click="like(asset)" data-ng-disabled="isAssetCollaborator()">
    <i class="fa fa-thumbs-up">
      <span class="sr-only">Like</span>
    </i>
  </button>
  <span data-ng-bind="asset.likes | number"></span>

  <!-- VIEWS -->
  <a ui-sref="assetlibrarylist.item({assetId: asset.id})" data-ng-if="addLinks === 'true'" class="btn">
    <i class="fa fa-eye">
      <span class="sr-only">Views</span>
    </i>
    <span data-ng-bind="asset.views | number"></span>
  </a>
  <div data-ng-if="addLinks !== 'true'">
    <i class="fa fa-eye">
      <span class="sr-only">Views</span>
    </i>
    <span data-ng-bind="asset.views | number"></span>
  </div>

  <!-- COMMENTS -->

  <a ui-sref="assetlibrarylist.item({assetId: asset.id})" data-ng-if="addLinks === 'true'" class="btn">
    <i class="fa fa-comment">
      <span class="sr-only">Comments</span>
    </i>
    <span data-ng-bind="asset.comment_count | number"></span>
  </a>
  <div data-ng-if="addLinks !== 'true'">
    <i class="fa fa-comment">
      <span class="sr-only">Comments</span>
    </i>
    <span data-ng-bind="asset.comment_count | number"></span>
  </div>
</div>
